[popover] {
  overflow: auto;
  border: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-background);
  height: unset;
  margin: unset;

  &:popover-open {
    display: block !important;
  }
}
