[role="status"],
[role="alert"] {
  --color-background: var(--dialog-fill);
  --border-color: var(--dialog-border);
  --alert-accent: var(--dialog-border);

  padding: var(--spacing);
  margin-bottom: var(--spacing);
  border-radius: var(--radius);
  border: var(--border-size) solid var(--border-color);
  border-inline-start-width: calc(var(--border-size) * 4);
  border-inline-start-color: var(--alert-accent);
  background: var(--color-background);
  position: relative;
}
