[role="search"] {
  --border-radius: var(--search-border-radius);
}

/* [role="search"] shares most of its styles with [role="group"] */
/* See _role-group.css for the shared styles */

[role="search"] {
  & > :first-child {
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
  }

  & > :last-child {
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }
}
