[role="list"] {
  color: var(--typography-color);
  font-style: normal;
  font-weight: var(--font-weight);
  display: block;
  list-style-type: disc;
  margin-top: 0;
  margin-inline: 0;
  margin-bottom: var(--typography-spacing-vertical);
  padding-inline-start: 40px;

  > * {
    display: list-item;
    text-align: match-parent;
    margin-bottom: calc(var(--typography-spacing-vertical) * 0.25);

    &::marker {
      color: var(--primary-color);
    }
  }
}
