.border {
  --_border-color: var(--border-color);

  border: var(--border-width) var(--border-style) var(--_border-color) !important;
}

.border-0 {
  border: 0 !important;
}

.border-top {
  --_border-color: var(--border-color);

  border-top: var(--border-width) var(--border-style) var(--_border-color) !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-end {
  --_border-color: var(--border-color);

  border-right: var(--border-width) var(--border-style) var(--_border-color) !important;
}

.border-end-0 {
  border-right: 0 !important;
}

.border-bottom {
  --_border-color: var(--border-color);

  border-bottom: var(--border-width) var(--border-style) var(--_border-color) !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-start {
  --_border-color: var(--border-color);

  border-left: var(--border-width) var(--border-style) var(--_border-color) !important;
}

.border-start-0 {
  border-left: 0 !important;
}
