.border {
  --border-color: oklch(from var(--border-color) l c h / var(--border-color-opacity));

  border: var(--border-width) var(--border-style) var(--border-color) !important;
}

.border-0 {
  border: 0 !important;
}

.border-top {
  --border-color: oklch(from var(--border-color) l c h / var(--border-color-opacity));

  border-top: var(--border-width) var(--border-style) var(--border-color) !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-end {
  --border-color: oklch(from var(--border-color) l c h / var(--border-color-opacity));

  border-right: var(--border-width) var(--border-style) var(--border-color) !important;
}

.border-end-0 {
  border-right: 0 !important;
}

.border-bottom {
  --border-color: oklch(from var(--border-color) l c h / var(--border-color-opacity));

  border-bottom: var(--border-width) var(--border-style) var(--border-color) !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-start {
  --border-color: oklch(from var(--border-color) l c h / var(--border-color-opacity));

  border-left: var(--border-width) var(--border-style) var(--border-color) !important;
}

.border-start-0 {
  border-left: 0 !important;
}
