.border-1 {
  border-width: var(--border-width-1) !important;
}

.border-2 {
  border-width: var(--border-width-2) !important;
}

.border-3 {
  border-width: var(--border-width-3) !important;
}

.border-4 {
  border-width: var(--border-width-4) !important;
}

.border-5 {
  border-width: var(--border-width-5) !important;
}
