@import '../colors/_azure.css';

:root {
  --theme: light;
  color-scheme: light;

  @media (prefers-color-scheme: dark) {
    --theme: dark;
    color-scheme: dark;
  }

  --color-primary-border: var(--color-primary-fill);
  --color-primary-border-hover: var(--color-primary-fill-hover);
  --color-primary-underline-hover: var(--color-primary-text-hover);
}

[data-theme="light"] {
  --theme: light;
  color-scheme: light;
}

[data-theme="dark"] {
  --theme: dark;
  color-scheme: dark;
}

body {
  @container style(--theme: dark) {
    /* dark theme overrides */
  }
}
