:root {
  color-scheme: light dark;

  --neutral-100: light-dark(hsl(30, 2%, 96%), hsl(60, 2%, 5%));
  --neutral-200: light-dark(hsl(30, 4%, 92%), hsl(60, 2%, 9%));
  --neutral-300: light-dark(hsl(30, 6%, 88%), hsl(60, 3%, 14%));
  --neutral-400: light-dark(hsl(30, 8%, 82%), hsl(60, 3%, 20%));
  --neutral-500: light-dark(hsl(30, 10%, 74%), hsl(60, 4%, 28%));
  --neutral-600: light-dark(hsl(30, 8%, 64%), hsl(60, 5%, 35%));
  --neutral-700: light-dark(hsl(30, 6%, 52%), hsl(60, 2%, 50%));
  --neutral-800: light-dark(hsl(30, 8%, 38%), hsl(60, 3%, 70%));
  --neutral-900: light-dark(hsl(30, 12%, 12%), hsl(60, 4%, 85%));

  --primary: #0172ad;
  --primary-color: light-dark(#0172ad, #01aaff);

  --primary-background: var(--primary);
  --primary-underline: rgba(var(--primary-color), 0.5),
  --primary-hover: $azure-650,
  --primary-hover-background: $azure-600,
  --primary-focus: rgba($azure-400, 0.5),
  --primary-inverse: contrast-color(var(--primary-background));
}
