:root {
--color-red-950: #1c0d06;
--color-red-900: #30130a;
--color-red-850: #45150c;
--color-red-800: #5c160d;
--color-red-750: #72170f;
--color-red-700: #861d13;
--color-red-650: #9b2318;
--color-red-600: #af291d;
--color-red-550: #c52f21;
--color-red-500: #d93526;
--color-red-450: #ee402e;
--color-red-400: #f06048;
--color-red-350: #f17961;
--color-red-300: #f38f79;
--color-red-250: #f5a390;
--color-red-200: #f5b7a8;
--color-red-150: #f6cabf;
--color-red-100: #f8dcd6;
--color-red-50: #faeeeb;
--color-red: var(--color-red-550);

--color-pink-950: #25060c;
--color-pink-900: #380916;
--color-pink-850: #4b0c1f;
--color-pink-800: #5f0e28;
--color-pink-750: #740f31;
--color-pink-700: #88143b;
--color-pink-650: #9d1945;
--color-pink-600: #b21e4f;
--color-pink-550: #c72259;
--color-pink-500: #d92662;
--color-pink-450: #f42c6f;
--color-pink-400: #f6547e;
--color-pink-350: #f7708e;
--color-pink-300: #f8889e;
--color-pink-250: #f99eae;
--color-pink-200: #f9b4be;
--color-pink-150: #f9c8ce;
--color-pink-100: #f9dbdf;
--color-pink-50: #fbedef;
--color-pink: var(--color-pink-500);

--color-fuchsia-950: #230518;
--color-fuchsia-900: #360925;
--color-fuchsia-850: #480b33;
--color-fuchsia-800: #5c0d41;
--color-fuchsia-750: #700e4f;
--color-fuchsia-700: #84135e;
--color-fuchsia-650: #98176d;
--color-fuchsia-600: #ac1c7c;
--color-fuchsia-550: #c1208b;
--color-fuchsia-500: #d9269d;
--color-fuchsia-450: #ed2aac;
--color-fuchsia-400: #f748b7;
--color-fuchsia-350: #f869bf;
--color-fuchsia-300: #f983c7;
--color-fuchsia-250: #fa9acf;
--color-fuchsia-200: #f9b1d8;
--color-fuchsia-150: #f9c6e1;
--color-fuchsia-100: #f9daea;
--color-fuchsia-50: #fbedf4;
--color-fuchsia: var(--color-fuchsia-550);

--color-purple-950: #1e0820;
--color-purple-900: #2d0f33;
--color-purple-850: #3d1545;
--color-purple-800: #4d1a57;
--color-purple-750: #5e206b;
--color-purple-700: #6f277d;
--color-purple-650: #802e90;
--color-purple-600: #9236a4;
--color-purple-550: #aa40bf;
--color-purple-500: #b645cd;
--color-purple-450: #c652dc;
--color-purple-400: #cd68e0;
--color-purple-350: #d47de4;
--color-purple-300: #db90e8;
--color-purple-250: #e2a3eb;
--color-purple-200: #e7b6ee;
--color-purple-150: #edc9f1;
--color-purple-100: #f2dcf4;
--color-purple-50: #f8eef9;
--color-purple: var(--color-purple-600);

--color-violet-950: #190928;
--color-violet-900: #251140;
--color-violet-850: #321856;
--color-violet-800: #3f1e6d;
--color-violet-750: #4d2585;
--color-violet-700: #5b2d9c;
--color-violet-650: #6935b3;
--color-violet-600: #7540bf;
--color-violet-550: #8352c5;
--color-violet-500: #9062ca;
--color-violet-450: #9b71cf;
--color-violet-400: #a780d4;
--color-violet-350: #b290d9;
--color-violet-300: #bd9fdf;
--color-violet-250: #c9afe4;
--color-violet-200: #d3bfe8;
--color-violet-150: #decfed;
--color-violet-100: #e8dff2;
--color-violet-50: #f3eff7;
--color-violet: var(--color-violet-600);

--color-indigo-950: #110b31;
--color-indigo-900: #181546;
--color-indigo-850: #1f1e5e;
--color-indigo-800: #272678;
--color-indigo-750: #2f2f92;
--color-indigo-700: #3838ab;
--color-indigo-650: #4040bf;
--color-indigo-600: #524ed2;
--color-indigo-550: #655cd6;
--color-indigo-500: #7569da;
--color-indigo-450: #8577dd;
--color-indigo-400: #9486e1;
--color-indigo-350: #a294e5;
--color-indigo-300: #b0a3e8;
--color-indigo-250: #bdb2ec;
--color-indigo-200: #cac1ee;
--color-indigo-150: #d8d0f1;
--color-indigo-100: #e5e0f4;
--color-indigo-50: #f2f0f9;
--color-indigo: var(--color-indigo-600);

--color-blue-950: #080f2d;
--color-blue-900: #0c1a41;
--color-blue-850: #0e2358;
--color-blue-800: #0f2d70;
--color-blue-750: #0f3888;
--color-blue-700: #1343a0;
--color-blue-650: #184eb8;
--color-blue-600: #1d59d0;
--color-blue-550: #2060df;
--color-blue-500: #3c71f7;
--color-blue-450: #5c7ef8;
--color-blue-400: #748bf8;
--color-blue-350: #8999f9;
--color-blue-300: #9ca7fa;
--color-blue-250: #aeb5fb;
--color-blue-200: #bfc3fa;
--color-blue-150: #d0d2fa;
--color-blue-100: #e0e1fa;
--color-blue-50: #f0f0fb;
--color-blue: var(--color-blue-550);

--color-azure-950: #04121d;
--color-azure-900: #061e2f;
--color-azure-850: #052940;
--color-azure-800: #033452;
--color-azure-750: #014063;
--color-azure-700: #014c75;
--color-azure-650: #015887;
--color-azure-600: #02659a;
--color-azure-550: #0172ad;
--color-azure-500: #017fc0;
--color-azure-450: #018cd4;
--color-azure-400: #029ae8;
--color-azure-350: #01aaff;
--color-azure-300: #51b4ff;
--color-azure-250: #79c0ff;
--color-azure-200: #9bccfd;
--color-azure-150: #b7d9fc;
--color-azure-100: #d1e5fb;
--color-azure-50: #e9f2fc;
--color-azure: var(--color-azure-550);

--color-cyan-950: #041413;
--color-cyan-900: #051f1f;
--color-cyan-850: #052b2b;
--color-cyan-800: #043737;
--color-cyan-750: #014343;
--color-cyan-700: #015050;
--color-cyan-650: #025d5d;
--color-cyan-600: #046a6a;
--color-cyan-550: #047878;
--color-cyan-500: #058686;
--color-cyan-450: #059494;
--color-cyan-400: #05a2a2;
--color-cyan-350: #0ab1b1;
--color-cyan-300: #0ac2c2;
--color-cyan-250: #0ccece;
--color-cyan-200: #25dddd;
--color-cyan-150: #3deceb;
--color-cyan-100: #58faf9;
--color-cyan-50: #c3fcfa;
--color-cyan: var(--color-cyan-550);

--color-jade-950: #04140c;
--color-jade-900: #052014;
--color-jade-850: #042c1b;
--color-jade-800: #033823;
--color-jade-750: #00452b;
--color-jade-700: #015234;
--color-jade-650: #005f3d;
--color-jade-600: #006d46;
--color-jade-550: #007a50;
--color-jade-500: #00895a;
--color-jade-450: #029764;
--color-jade-400: #00a66e;
--color-jade-350: #00b478;
--color-jade-300: #00c482;
--color-jade-250: #00cc88;
--color-jade-200: #21e299;
--color-jade-150: #39f1a6;
--color-jade-100: #70fcba;
--color-jade-50: #cbfce1;
--color-jade: var(--color-jade-550);

--color-green-950: #0b1305;
--color-green-900: #131f07;
--color-green-850: #152b07;
--color-green-800: #173806;
--color-green-750: #1a4405;
--color-green-700: #205107;
--color-green-650: #265e09;
--color-green-600: #2c6c0c;
--color-green-550: #33790f;
--color-green-500: #398712;
--color-green-450: #409614;
--color-green-400: #47a417;
--color-green-350: #4eb31b;
--color-green-300: #55c21e;
--color-green-250: #5dd121;
--color-green-200: #62d926;
--color-green-150: #77ef3d;
--color-green-100: #95fb62;
--color-green-50: #d7fbc1;
--color-green: var(--color-green-500);

--color-lime-950: #101203;
--color-lime-900: #191d03;
--color-lime-850: #202902;
--color-lime-800: #273500;
--color-lime-750: #304100;
--color-lime-700: #394d00;
--color-lime-650: #435a00;
--color-lime-600: #4d6600;
--color-lime-550: #577400;
--color-lime-500: #628100;
--color-lime-450: #6c8f00;
--color-lime-400: #779c00;
--color-lime-350: #82ab00;
--color-lime-300: #8eb901;
--color-lime-250: #99c801;
--color-lime-200: #a5d601;
--color-lime-150: #b2e51a;
--color-lime-100: #c1f335;
--color-lime-50: #defc85;
--color-lime: var(--color-lime-200);

--color-yellow-950: #141103;
--color-yellow-900: #1f1c02;
--color-yellow-850: #2b2600;
--color-yellow-800: #363100;
--color-yellow-750: #423c00;
--color-yellow-700: #4e4700;
--color-yellow-650: #5b5300;
--color-yellow-600: #685f00;
--color-yellow-550: #756b00;
--color-yellow-500: #827800;
--color-yellow-450: #908501;
--color-yellow-400: #9e9200;
--color-yellow-350: #ad9f00;
--color-yellow-300: #bbac00;
--color-yellow-250: #caba01;
--color-yellow-200: #d9c800;
--color-yellow-150: #e8d600;
--color-yellow-100: #f2df0d;
--color-yellow-50: #fdf1b4;
--color-yellow: var(--color-yellow-100);

--color-amber-950: #161003;
--color-amber-900: #231a03;
--color-amber-850: #312302;
--color-amber-800: #3f2d00;
--color-amber-750: #4d3700;
--color-amber-700: #5b4200;
--color-amber-650: #694d00;
--color-amber-600: #785800;
--color-amber-550: #876400;
--color-amber-500: #977000;
--color-amber-450: #a77c00;
--color-amber-400: #b78800;
--color-amber-350: #c79400;
--color-amber-300: #d8a100;
--color-amber-250: #e8ae01;
--color-amber-200: #ffbf00;
--color-amber-150: #fecc63;
--color-amber-100: #fddea6;
--color-amber-50: #fcefd9;
--color-amber: var(--color-amber-200);

--color-pumpkin-950: #180f04;
--color-pumpkin-900: #271805;
--color-pumpkin-850: #372004;
--color-pumpkin-800: #482802;
--color-pumpkin-750: #593100;
--color-pumpkin-700: #693a00;
--color-pumpkin-650: #7a4400;
--color-pumpkin-600: #8b4f00;
--color-pumpkin-550: #9c5900;
--color-pumpkin-500: #ad6400;
--color-pumpkin-450: #bf6e00;
--color-pumpkin-400: #d27a01;
--color-pumpkin-350: #e48500;
--color-pumpkin-300: #ff9500;
--color-pumpkin-250: #ffa23a;
--color-pumpkin-200: #feb670;
--color-pumpkin-150: #fcca9b;
--color-pumpkin-100: #fcdcc1;
--color-pumpkin-50: #fceee3;
--color-pumpkin: var(--color-pumpkin-300);

--color-orange-950: #1b0d06;
--color-orange-900: #2d1509;
--color-orange-850: #411a0a;
--color-orange-800: #561e0a;
--color-orange-750: #6b220a;
--color-orange-700: #7f270b;
--color-orange-650: #942d0d;
--color-orange-600: #a83410;
--color-orange-550: #bd3c13;
--color-orange-500: #d24317;
--color-orange-450: #e74b1a;
--color-orange-400: #f45d2c;
--color-orange-350: #f56b3d;
--color-orange-300: #f68e68;
--color-orange-250: #f8a283;
--color-orange-200: #f8b79f;
--color-orange-150: #f8cab9;
--color-orange-100: #f9dcd2;
--color-orange-50: #faeeea;
--color-orange: var(--color-orange-500);

--color-sand-950: #111110;
--color-sand-900: #1c1b19;
--color-sand-850: #272622;
--color-sand-800: #32302b;
--color-sand-750: #3d3b35;
--color-sand-700: #49463f;
--color-sand-650: #55524a;
--color-sand-600: #615e55;
--color-sand-550: #6e6a60;
--color-sand-500: #7b776b;
--color-sand-450: #888377;
--color-sand-400: #959082;
--color-sand-350: #a39e8f;
--color-sand-300: #b0ab9b;
--color-sand-250: #beb8a7;
--color-sand-200: #ccc6b4;
--color-sand-150: #dad4c2;
--color-sand-100: #e8e2d2;
--color-sand-50: #f2f0ec;
--color-sand: var(--color-sand-200);

--color-grey-950: #111111;
--color-grey-900: #1b1b1b;
--color-grey-850: #262626;
--color-grey-800: #303030;
--color-grey-750: #3b3b3b;
--color-grey-700: #474747;
--color-grey-650: #525252;
--color-grey-600: #5e5e5e;
--color-grey-550: #6a6a6a;
--color-grey-500: #777777;
--color-grey-450: #808080;
--color-grey-400: #919191;
--color-grey-350: #9e9e9e;
--color-grey-300: #ababab;
--color-grey-250: #b9b9b9;
--color-grey-200: #c6c6c6;
--color-grey-150: #d4d4d4;
--color-grey-100: #e2e2e2;
--color-grey-50: #f1f1f1;
--color-grey: var(--color-grey-300);

--color-zinc-950: #0f1114;
--color-zinc-900: #191c20;
--color-zinc-850: #23262c;
--color-zinc-800: #2d3138;
--color-zinc-750: #373c44;
--color-zinc-700: #424751;
--color-zinc-650: #4d535e;
--color-zinc-600: #5c6370;
--color-zinc-550: #646b79;
--color-zinc-500: #6f7887;
--color-zinc-450: #7b8495;
--color-zinc-400: #8891a4;
--color-zinc-350: #969eaf;
--color-zinc-300: #a4acba;
--color-zinc-250: #b3b9c5;
--color-zinc-200: #c2c7d0;
--color-zinc-150: #d1d5db;
--color-zinc-100: #e0e3e7;
--color-zinc-50: #f0f1f3;
--color-zinc: var(--color-zinc-550);

--color-slate-950: #0e1118;
--color-slate-900: #181c25;
--color-slate-850: #202632;
--color-slate-800: #2a3140;
--color-slate-750: #333c4e;
--color-slate-700: #3d475c;
--color-slate-650: #48536b;
--color-slate-600: #525f7a;
--color-slate-550: #5d6b89;
--color-slate-500: #687899;
--color-slate-450: #7385a9;
--color-slate-400: #8191b5;
--color-slate-350: #909ebe;
--color-slate-300: #a0acc7;
--color-slate-250: #b0b9d0;
--color-slate-200: #bfc7d9;
--color-slate-150: #cfd5e2;
--color-slate-100: #dfe3eb;
--color-slate-50: #eff1f4;
--color-slate: var(--color-slate-600);
}
