.subtle {
  /* When .subtle is used in an element that has no intent */
  &:not(.primary, .secondary, .contrast, .success, .info, .warning, .danger) {
    --_buttons-background-color: var(--primary-subtle-background-color);
    --_buttons-background-color-hover: var(--primary-background-color);

    &[type="reset"] {
      --_buttons-background-color: var(--secondary-subtle-background-color);
      --_buttons-background-color-hover: var(--secondary-background-color);
      --_buttons-color: light-dark(#191c20, white);
    }

    --_links-color: var(--primary-subtle-background-color);
    --_links-color-hover: var(--primary-background-color);

    --_progress-accent-color: var(--primary-subtle-background-color);
  }

  &.primary {
    --intent-background-color: var(--primary-subtle-background-color);
    --intent-background-color-hover: var(--primary-background-color);
  }

  &.secondary {
    --intent-background-color: var(--secondary-subtle-background-color);
    --intent-background-color-hover: var(--secondary-background-color);

    /* Readability adjustments */
    --_alert-color: light-dark(#191c20, white);
    --_card-color: light-dark(#191c20, white);
    --_pane-color: light-dark(#191c20, white);
    --_buttons-color: light-dark(#191c20, white);
    --_buttons-color-hover: white;
  }

  &.contrast {
    --intent-background-color: var(--contrast-subtle-background-color);
    --intent-background-color-hover: var(--contrast-background-color);
  }

  &.success {
    --intent-background-color: var(--success-subtle-background-color);
    --intent-background-color-hover: var(--success-background-color);
  }

  &.info {
    --intent-background-color: var(--info-subtle-background-color);
    --intent-background-color-hover: var(--info-background-color);
  }

  &.warning {
    --intent-background-color: var(--warning-subtle-background-color);
    --intent-background-color-hover: var(--warning-background-color);
  }

  &.danger {
    --intent-background-color: var(--danger-subtle-background-color);
    --intent-background-color-hover: var(--danger-background-color);
  }
}

/* Accordion chevron override */
details summary[role="button"].subtle.secondary {
  @container style(--theme: light) {
    &::after {
      filter: brightness(0);
    }

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      &::after {
        filter: brightness(0) invert(1);
      }
    }
  }
}
