.subtle {
  &.primary {
    --intent-background-color: oklch(
      from var(--primary-subtle-background-color) l c h /
        var(--background-color-opacity)
    );
    --intent-border-color: oklch(
      from var(--primary-subtle-background-color) l c h /
        var(--border-color-opacity)
    );
  }

  &.secondary {
    --typography-color: light-dark(#191c20, #fff);
    --intent-background-color: light-dark(
      color-mix(in srgb, var(--color-slate-50), white 25%),
      color-mix(in srgb, var(--color-slate-50), black 75%)
    );
    --intent-border-color: light-dark(
      color-mix(in srgb, var(--color-slate-50), white 25%),
      color-mix(in srgb, var(--color-slate-50), black 75%)
    );

    /* Buttons */
    &:is(
      button:not([role="link"]),
      [type="submit"],
      [type="reset"],
      [type="button"],
      [type="file"]::file-selector-button,
      [role="button"]
    ) {
      --button-color: var(--typography-color);
    }

    /* --- Alert Individual Styling --- */
    --_alert-color: var(--typography-color) !important;

    /* --- Card Individual Styling --- */
    --_card-color: var(--typography-color) !important;

    /* --- Pane Individual Styling --- */
    --_pane-color: var(--typography-color) !important;

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --button-color: #fff !important;
    }
  }

  &.contrast {
    --intent-background-color: oklch(
      from var(--contrast-subtle-background-color) l c h /
        var(--background-color-opacity)
    );
    --intent-border-color: oklch(
      from var(--contrast-subtle-background-color) l c h /
        var(--border-color-opacity)
    );
  }

  &.success {
    --intent-background-color: oklch(
      from var(--success-subtle-background-color) l c h /
        var(--background-color-opacity)
    );
    --intent-border-color: oklch(
      from var(--success-subtle-background-color) l c h /
        var(--border-color-opacity)
    );
  }

  &.info {
    --intent-background-color: oklch(
      from var(--info-subtle-background-color) l c h /
        var(--background-color-opacity)
    );
    --intent-border-color: oklch(
      from var(--info-subtle-background-color) l c h /
        var(--border-color-opacity)
    );
  }

  &.warning {
    --intent-background-color: oklch(
      from var(--warning-subtle-background-color) l c h /
        var(--background-color-opacity)
    );
    --intent-border-color: oklch(
      from var(--warning-subtle-background-color) l c h /
        var(--border-color-opacity)
    );
  }

  &.danger {
    --intent-background-color: oklch(
      from var(--danger-subtle-background-color) l c h /
        var(--background-color-opacity)
    );
    --intent-border-color: oklch(
      from var(--danger-subtle-background-color) l c h /
        var(--border-color-opacity)
    );
  }
}
