:root,
:host {
  --max-z-index: 1050;

  /* Grid */
  --grid-gutter-x: var(--spacing);
  --grid-gutter-y: 0;

  /* Gradient */
  --gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );

  /* Borders & radii */
  --border-radius-pill: 50rem;
  --border-radius-1: var(--border-radius);
  --border-radius-2: calc(var(--border-radius) * 2);
  --border-radius-3: calc(var(--border-radius) * 4);
  --border-radius-4: calc(var(--border-radius) * 6);
  --border-radius-5: calc(var(--border-radius) * 8);

  /* Border-width scale */
  --border-style: solid;
  --border-width-1: var(--border-width);
  --border-width-2: calc(var(--border-width) * 2);
  --border-width-3: calc(var(--border-width) * 3);
  --border-width-4: calc(var(--border-width) * 4);
  --border-width-5: calc(var(--border-width) * 5);

  /* Spacing scale */
  --spacing-1: calc(var(--spacing) * 0.25);
  --spacing-2: calc(var(--spacing) * 0.5);
  --spacing-3: var(--spacing);
  --spacing-4: calc(var(--spacing) * 1.5);
  --spacing-5: calc(var(--spacing) * 3);

  /* Shadows */
  --shadow-sm: 0 0.05rem 0.3rem
    light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  --shadow-md: 0 0.15rem 0.6rem
    light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  --shadow-lg: 0 0.15rem 1rem
    light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
}
