/**
 * Card (.card)
 * A container component for grouped content with visual card styling
 * Can be applied to any element (article, div, section, etc.)
 */
.card {
  padding-block: var(--block-spacing);
  padding-inline: var(--block-spacing);
  margin-bottom: var(--block-spacing);
  border-radius: var(--border-radius);
  background: var(--card-bg);
  box-shadow: var(--card-shadow);

  & > header,
  & > footer {
    width: auto;
    margin-inline: calc(var(--block-spacing) * -1);
    padding-inline: var(--block-spacing);
    background-color: var(--card-section-bg);
  }

  & > header {
    margin-top: calc(var(--block-spacing) * -1);
    border-bottom: var(--border-width) solid var(--card-border);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }

  & > footer {
    margin-bottom: calc(var(--block-spacing) * -1);
    border-top: var(--border-width) solid var(--card-border);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    text-align: right;
  }
}
