/**
 * Panel akin to a flat card.
 */
.panel {
  --color-background: var(--card-bg);
  --border-color: var(--card-border);
  --color-text: var(--color-text);

  background-color: var(--color-background);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--border-color);
  color: var(--color-text);
  padding-block: var(--spacing);
  padding-inline: var(--spacing);
  margin-bottom: var(--spacing);
}
