/**
 * Secondary variant
 * Used on links, buttons, and form elements
 */

/* Links */
:where(a:not([role="button"])),
[role="link"] {
  &.secondary {
    --color-text: var(--color-secondary-text);
    --underline: var(--color-secondary-underline);

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --color-text: var(--color-secondary-text-hover);
      --underline: var(--color-secondary-underline-hover);
    }
  }
}

:is(button, [type="submit"], [type="button"], [role="button"]):not([role="link"]) {
  &.secondary {
    --color-background: var(--color-secondary-fill);
    --border-color: var(--color-secondary-border);
    --color-text: var(--color-secondary-on-fill);

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --color-background: var(--color-secondary-fill-hover);
      --border-color: var(--color-secondary-border-hover);
      --color-text: var(--color-secondary-on-fill);
    }

    &:focus,
    &:is([aria-current]:not([aria-current="false"])):focus {
      --shadow: var(--button-shadow-hover, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--outline-width) var(--color-secondary-focus-ring);
    }
  }
}

:is(.card, .pane, .panel).secondary {
  --color-text: var(--color-secondary-text) !important;
  --card-fill: var(--color-muted-fill);
}

:is(.panel).secondary {
  --card-border: var(--color-muted-border);
}
