/**
 * Secondary variant
 * Used on links, buttons, and form elements
 */

/* Links */
:where(a:not([role="button"])),
[role="link"] {
  &.secondary {
    --color-text: rgb(var(--color-secondary-rgb));
    --underline: var(--color-secondary-underline);

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --color-text: var(--color-secondary-hover);
      --underline: var(--color-secondary-hover-underline);
    }
  }
}

:is(button, [type="submit"], [type="button"], [role="button"]):not([role="link"]) {
  &.secondary {
    --color-background: var(--color-secondary-bg);
    --border-color: var(--color-secondary-border);
    --color-text: var(--color-secondary-inverse);

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --color-background: var(--color-secondary-hover-bg);
      --border-color: var(--color-secondary-hover-border);
      --color-text: var(--color-secondary-inverse);
    }

    &:focus,
    &:is([aria-current]:not([aria-current="false"])):focus {
      --shadow-lg: var(--button-shadow-hover, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--outline-width) var(--color-secondary-focus);
    }
  }
}

:is(.card, .pane, .panel).secondary {
  --color-text: rgb(var(--color-secondary-emphasis-rgb)) !important;
  --color-heading-base: color-mix(in srgb, var(--color-text), black 18%);
  --pane-bg: var(--color-secondary-bg-subtle);
}

:is(.panel).secondary {
  --pane-section-border: var(--color-secondary-border-subtle);
  --pane-border: var(--color-secondary-border-subtle);
}
