<!DOCTYPE html>
<html lang="en" data-theme="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Body Demo1 - Semanticus CSS</title>
    <link rel="stylesheet" href="../../dist/semanticus.css">
    <link rel="stylesheet" href="../../debug.css">
  </head>
  <body class="flow-h bg-danger">
    <aside class="bg-warning sidebar">
      <nav>
        <ul>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 1</a></li>
        </ul>
      </nav>

      <a href="#">Help</a>
    </aside>

    <footer class="text-bg-contrast-subtle">
      <nav>
        <p></p>
        <p>Semanticus CSS</p>
        <p></p>
      </nav>
    </footer>

    <aside class="bg-warning sidebar">
      <nav>
        <ul>
          <li><a href="#">Part 1</a></li>
          <li><a href="#">Part 2</a></li>
        </ul>
      </nav>
    </aside>
  </body>
</html>
