.gap-0 {
  gap: 0 !important;
}

.gap-d {
  gap: var(--spacer-default) !important;
}

.gap-1 {
  gap: var(--spacer-1) !important;
}

.gap-2 {
  gap: var(--spacer-2) !important;
}

.gap-3 {
  gap: var(--spacer-3) !important;
}

.gap-4 {
  gap: var(--spacer-4) !important;
}

.gap-5 {
  gap: var(--spacer-5) !important;
}

.row-gap-0 {
  row-gap: 0 !important;
}

.row-gap-d {
  row-gap: var(--spacer-default) !important;
}

.row-gap-1 {
  row-gap: var(--spacer-1) !important;
}

.row-gap-2 {
  row-gap: var(--spacer-2) !important;
}

.row-gap-3 {
  row-gap: var(--spacer-3) !important;
}

.row-gap-4 {
  row-gap: var(--spacer-4) !important;
}

.row-gap-5 {
  row-gap: var(--spacer-5) !important;
}

.column-gap-0 {
  -moz-column-gap: 0 !important;
  column-gap: 0 !important;
}

.column-gap-d {
  -moz-column-gap: var(--spacer-default) !important;
  column-gap: var(--spacer-default) !important;
}

.column-gap-1 {
  -moz-column-gap: var(--spacer-1) !important;
  column-gap: var(--spacer-1) !important;
}

.column-gap-2 {
  -moz-column-gap: var(--spacer-2) !important;
  column-gap: var(--spacer-2) !important;
}

.column-gap-3 {
  -moz-column-gap: var(--spacer-3) !important;
  column-gap: var(--spacer-3) !important;
}

.column-gap-4 {
  -moz-column-gap: var(--spacer-4) !important;
  column-gap: var(--spacer-4) !important;
}

.column-gap-5 {
  -moz-column-gap: var(--spacer-5) !important;
  column-gap: var(--spacer-5) !important;
}

@media (--breakpoint-sm) {
  .gap-sm-0 {
    gap: 0 !important;
  }
  .gap-sm-d {
    gap: var(--spacer-default) !important;
  }
  .gap-sm-1 {
    gap: var(--spacer-1) !important;
  }
  .gap-sm-2 {
    gap: var(--spacer-2) !important;
  }
  .gap-sm-3 {
    gap: var(--spacer-3) !important;
  }
  .gap-sm-4 {
    gap: var(--spacer-4) !important;
  }
  .gap-sm-5 {
    gap: var(--spacer-5) !important;
  }
  .row-gap-sm-0 {
    row-gap: 0 !important;
  }
  .row-gap-sm-d {
    row-gap: var(--spacer-default) !important;
  }
  .row-gap-sm-1 {
    row-gap: var(--spacer-1) !important;
  }
  .row-gap-sm-2 {
    row-gap: var(--spacer-2) !important;
  }
  .row-gap-sm-3 {
    row-gap: var(--spacer-3) !important;
  }
  .row-gap-sm-4 {
    row-gap: var(--spacer-4) !important;
  }
  .row-gap-sm-5 {
    row-gap: var(--spacer-5) !important;
  }
  .column-gap-sm-0 {
    -moz-column-gap: 0 !important;
    column-gap: 0 !important;
  }
  .column-gap-sm-d {
    -moz-column-gap: var(--spacer-default) !important;
    column-gap: var(--spacer-default) !important;
  }
  .column-gap-sm-1 {
    -moz-column-gap: var(--spacer-1) !important;
    column-gap: var(--spacer-1) !important;
  }
  .column-gap-sm-2 {
    -moz-column-gap: var(--spacer-2) !important;
    column-gap: var(--spacer-2) !important;
  }
  .column-gap-sm-3 {
    -moz-column-gap: var(--spacer-3) !important;
    column-gap: var(--spacer-3) !important;
  }
  .column-gap-sm-4 {
    -moz-column-gap: var(--spacer-4) !important;
    column-gap: var(--spacer-4) !important;
  }
  .column-gap-sm-5 {
    -moz-column-gap: var(--spacer-5) !important;
    column-gap: var(--spacer-5) !important;
  }
}

@media (--breakpoint-md) {
  .gap-md-0 {
    gap: 0 !important;
  }
  .gap-md-d {
    gap: var(--spacer-default) !important;
  }
  .gap-md-1 {
    gap: var(--spacer-1) !important;
  }
  .gap-md-2 {
    gap: var(--spacer-2) !important;
  }
  .gap-md-3 {
    gap: var(--spacer-3) !important;
  }
  .gap-md-4 {
    gap: var(--spacer-4) !important;
  }
  .gap-md-5 {
    gap: var(--spacer-5) !important;
  }
  .row-gap-md-0 {
    row-gap: 0 !important;
  }
  .row-gap-md-d {
    row-gap: var(--spacer-default) !important;
  }
  .row-gap-md-1 {
    row-gap: var(--spacer-1) !important;
  }
  .row-gap-md-2 {
    row-gap: var(--spacer-2) !important;
  }
  .row-gap-md-3 {
    row-gap: var(--spacer-3) !important;
  }
  .row-gap-md-4 {
    row-gap: var(--spacer-4) !important;
  }
  .row-gap-md-5 {
    row-gap: var(--spacer-5) !important;
  }
  .column-gap-md-0 {
    -moz-column-gap: 0 !important;
    column-gap: 0 !important;
  }
  .column-gap-md-d {
    -moz-column-gap: var(--spacer-default) !important;
    column-gap: var(--spacer-default) !important;
  }
  .column-gap-md-1 {
    -moz-column-gap: var(--spacer-1) !important;
    column-gap: var(--spacer-1) !important;
  }
  .column-gap-md-2 {
    -moz-column-gap: var(--spacer-2) !important;
    column-gap: var(--spacer-2) !important;
  }
  .column-gap-md-3 {
    -moz-column-gap: var(--spacer-3) !important;
    column-gap: var(--spacer-3) !important;
  }
  .column-gap-md-4 {
    -moz-column-gap: var(--spacer-4) !important;
    column-gap: var(--spacer-4) !important;
  }
  .column-gap-md-5 {
    -moz-column-gap: var(--spacer-5) !important;
    column-gap: var(--spacer-5) !important;
  }
}

@media (--breakpoint-lg) {
  .gap-lg-0 {
    gap: 0 !important;
  }
  .gap-lg-d {
    gap: var(--spacer-default) !important;
  }
  .gap-lg-1 {
    gap: var(--spacer-1) !important;
  }
  .gap-lg-2 {
    gap: var(--spacer-2) !important;
  }
  .gap-lg-3 {
    gap: var(--spacer-3) !important;
  }
  .gap-lg-4 {
    gap: var(--spacer-4) !important;
  }
  .gap-lg-5 {
    gap: var(--spacer-5) !important;
  }
  .row-gap-lg-0 {
    row-gap: 0 !important;
  }
  .row-gap-lg-d {
    row-gap: var(--spacer-default) !important;
  }
  .row-gap-lg-1 {
    row-gap: var(--spacer-1) !important;
  }
  .row-gap-lg-2 {
    row-gap: var(--spacer-2) !important;
  }
  .row-gap-lg-3 {
    row-gap: var(--spacer-3) !important;
  }
  .row-gap-lg-4 {
    row-gap: var(--spacer-4) !important;
  }
  .row-gap-lg-5 {
    row-gap: var(--spacer-5) !important;
  }
  .column-gap-lg-0 {
    -moz-column-gap: 0 !important;
    column-gap: 0 !important;
  }
  .column-gap-lg-d {
    -moz-column-gap: var(--spacer-default) !important;
    column-gap: var(--spacer-default) !important;
  }
  .column-gap-lg-1 {
    -moz-column-gap: var(--spacer-1) !important;
    column-gap: var(--spacer-1) !important;
  }
  .column-gap-lg-2 {
    -moz-column-gap: var(--spacer-2) !important;
    column-gap: var(--spacer-2) !important;
  }
  .column-gap-lg-3 {
    -moz-column-gap: var(--spacer-3) !important;
    column-gap: var(--spacer-3) !important;
  }
  .column-gap-lg-4 {
    -moz-column-gap: var(--spacer-4) !important;
    column-gap: var(--spacer-4) !important;
  }
  .column-gap-lg-5 {
    -moz-column-gap: var(--spacer-5) !important;
    column-gap: var(--spacer-5) !important;
  }
}

@media (--breakpoint-xl) {
  .gap-xl-0 {
    gap: 0 !important;
  }
  .gap-xl-d {
    gap: var(--spacer-default) !important;
  }
  .gap-xl-1 {
    gap: var(--spacer-1) !important;
  }
  .gap-xl-2 {
    gap: var(--spacer-2) !important;
  }
  .gap-xl-3 {
    gap: var(--spacer-3) !important;
  }
  .gap-xl-4 {
    gap: var(--spacer-4) !important;
  }
  .gap-xl-5 {
    gap: var(--spacer-5) !important;
  }
  .row-gap-xl-0 {
    row-gap: 0 !important;
  }
  .row-gap-xl-d {
    row-gap: var(--spacer-default) !important;
  }
  .row-gap-xl-1 {
    row-gap: var(--spacer-1) !important;
  }
  .row-gap-xl-2 {
    row-gap: var(--spacer-2) !important;
  }
  .row-gap-xl-3 {
    row-gap: var(--spacer-3) !important;
  }
  .row-gap-xl-4 {
    row-gap: var(--spacer-4) !important;
  }
  .row-gap-xl-5 {
    row-gap: var(--spacer-5) !important;
  }
  .column-gap-xl-0 {
    -moz-column-gap: 0 !important;
    column-gap: 0 !important;
  }
  .column-gap-xl-d {
    -moz-column-gap: var(--spacer-default) !important;
    column-gap: var(--spacer-default) !important;
  }
  .column-gap-xl-1 {
    -moz-column-gap: var(--spacer-1) !important;
    column-gap: var(--spacer-1) !important;
  }
  .column-gap-xl-2 {
    -moz-column-gap: var(--spacer-2) !important;
    column-gap: var(--spacer-2) !important;
  }
  .column-gap-xl-3 {
    -moz-column-gap: var(--spacer-3) !important;
    column-gap: var(--spacer-3) !important;
  }
  .column-gap-xl-4 {
    -moz-column-gap: var(--spacer-4) !important;
    column-gap: var(--spacer-4) !important;
  }
  .column-gap-xl-5 {
    -moz-column-gap: var(--spacer-5) !important;
    column-gap: var(--spacer-5) !important;
  }
}

@media (--breakpoint-xxl) {
  .gap-xxl-0 {
    gap: 0 !important;
  }
  .gap-xxl-d {
    gap: var(--spacer-default) !important;
  }
  .gap-xxl-1 {
    gap: var(--spacer-1) !important;
  }
  .gap-xxl-2 {
    gap: var(--spacer-2) !important;
  }
  .gap-xxl-3 {
    gap: var(--spacer-3) !important;
  }
  .gap-xxl-4 {
    gap: var(--spacer-4) !important;
  }
  .gap-xxl-5 {
    gap: var(--spacer-5) !important;
  }
  .row-gap-xxl-0 {
    row-gap: 0 !important;
  }
  .row-gap-xxl-d {
    row-gap: var(--spacer-default) !important;
  }
  .row-gap-xxl-1 {
    row-gap: var(--spacer-1) !important;
  }
  .row-gap-xxl-2 {
    row-gap: var(--spacer-2) !important;
  }
  .row-gap-xxl-3 {
    row-gap: var(--spacer-3) !important;
  }
  .row-gap-xxl-4 {
    row-gap: var(--spacer-4) !important;
  }
  .row-gap-xxl-5 {
    row-gap: var(--spacer-5) !important;
  }
  .column-gap-xxl-0 {
    -moz-column-gap: 0 !important;
    column-gap: 0 !important;
  }
  .column-gap-xxl-d {
    -moz-column-gap: var(--spacer-default) !important;
    column-gap: var(--spacer-default) !important;
  }
  .column-gap-xxl-1 {
    -moz-column-gap: var(--spacer-1) !important;
    column-gap: var(--spacer-1) !important;
  }
  .column-gap-xxl-2 {
    -moz-column-gap: var(--spacer-2) !important;
    column-gap: var(--spacer-2) !important;
  }
  .column-gap-xxl-3 {
    -moz-column-gap: var(--spacer-3) !important;
    column-gap: var(--spacer-3) !important;
  }
  .column-gap-xxl-4 {
    -moz-column-gap: var(--spacer-4) !important;
    column-gap: var(--spacer-4) !important;
  }
  .column-gap-xxl-5 {
    -moz-column-gap: var(--spacer-5) !important;
    column-gap: var(--spacer-5) !important;
  }
}

