.fs-1 {
  font-size: var(--fs-1) !important;
}

.fs-2 {
  font-size: var(--fs-2) !important;
}

.fs-3 {
  font-size: var(--fs-3) !important;
}

.fs-4 {
  font-size: var(--fs-4) !important;
}

.fs-5 {
  font-size: var(--fs-5) !important;
}

.fs-6 {
  font-size: var(--fs-6) !important;
}

@media (--breakpoint-xl) {
  .fs-1 {
    font-size: 2.5rem !important;
  }
  .fs-2 {
    font-size: 2rem !important;
  }
  .fs-3 {
    font-size: 1.75rem !important;
  }
  .fs-4 {
    font-size: 1.5rem !important;
  }
}
