.card {
  --_card-color: var(--card-color);
  --_card-background-color: var(--card-background-color);
  --_card-spacing: var(--card-spacing);
  --_card-border-color: var(--card-border-color);
  --_card-border-width: var(--card-border-width);
  --_card-border-radius: var(--card-border-radius);
  --_card-marginals-background-color: var(--card-marginals-background-color);
  --_card-marginals-border-color: var(--card-marginals-border-color);
  --typography-color: var(--_card-color);
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--_card-color);
  padding-block: var(--_card-spacing);
  padding-inline: var(--_card-spacing);
  margin-bottom: var(--_card-spacing);
  border-radius: var(--_card-border-radius);
  border: var(--_card-border-width) solid var(--_card-border-color);
  background: var(--_card-background-color);

  > header,
  > footer {
    width: auto;
    margin-inline: calc(var(--_card-spacing) * -1);
    padding-inline: var(--_card-spacing);
    background-color: var(--_card-marginals-background-color);
    display: flex;
    gap: calc(var(--nav-link-gap) * 1.5);
    align-items: center;
  }

  /* Header styling */
  > header {
    margin-top: calc(var(--_card-spacing) * -1);
    border-bottom: var(--_card-border-width) solid
      var(--_card-marginals-border-color);
    border-top-right-radius: var(--_card-border-radius);
    border-top-left-radius: var(--_card-border-radius);
    justify-content: space-between;
  }

  /* Footer styling */
  > footer {
    margin-bottom: calc(var(--_card-spacing) * -1);
    border-top: var(--_card-border-width) solid
      var(--_card-marginals-border-color);
    border-bottom-right-radius: var(--_card-border-radius);
    border-bottom-left-radius: var(--_card-border-radius);
    justify-content: end;
  }

  > :last-child:not(footer) {
    margin-bottom: 0;
  }

  &:is(ul, [role="list"], [role="group"]) {
    padding: 0;

    > * {
      background: var(--_card-background-color);
      color: var(--_card-color);
      margin: 0;
      padding: var(--_card-spacing);
      border-radius: 0;
      border: var(--_card-border-width) solid
        var(--_card-marginals-border-color);

      &:first-child {
        border-top-left-radius: var(--_card-border-radius);
      }

      &:last-child {
        border-bottom-right-radius: var(--_card-border-radius);
      }

      > :last-child {
        margin-bottom: 0;
      }

      &:is([aria-current]:not([aria-current="false"])) {
        background: color-mix(
          in srgb,
          var(--_card-background-color),
          var(--color-hover-shade) 15%
        );
      }
    }
  }

  &:is(ul, [role="list"]) {
    display: flex;
    flex-direction: column;

    > * {
      list-style: none;
      border-top: none;
      border-inline: none;

      &:first-child {
        border-top-right-radius: var(--_card-border-radius);
      }

      &:last-child {
        border-bottom-left-radius: var(--_card-border-radius);
        border-bottom: none;
      }
    }
  }

  &[role="group"] {
    > * {
      border-right: none;
      border-block: none;

      &:first-child {
        border-left: none;
        border-bottom-left-radius: var(--_card-border-radius);
      }

      &:last-child {
        border-top-right-radius: var(--_card-border-radius);
      }
    }
  }
}
