.card,
.pane {
  --shadow: var(--dialog-shadow);
  --color-background: var(--dialog-fill);
  --border-color: var(--dialog-border);

  padding-block: var(--spacing);
  padding-inline: var(--spacing);
  margin-bottom: var(--spacing);
  border-radius: var(--radius);
  border: var(--border-size) solid var(--border-color);
  background: var(--color-background);
  box-shadow: var(--shadow);
  position: relative;

  > header,
  > footer {
    width: auto;
    margin-inline: calc(var(--spacing) * -1);
    padding-inline: var(--spacing);
    background-color: var(--dialog-section-fill);
    display: flex;
    gap: calc(var(--nav-link-gap) * 1.5);
    align-items: center;
  }

  /* Header styling */
  > header {
    margin-top: calc(var(--spacing) * -1);
    border-bottom: var(--border-size) solid var(--dialog-section-border);
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
    justify-content: space-between;
  }

  /* Footer styling */
  > footer {
    margin-bottom: calc(var(--spacing) * -1);
    border-top: var(--border-size) solid var(--dialog-section-border);
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    justify-content: end;
  }

  > :last-child:is(hgroup, h1, h2, h3, h4, h5, h6) {
    margin-bottom: 0;
  }
}
