.card {
  --color-background: var(--dialog-fill);
  --border-color: var(--dialog-border);

  padding-block: var(--spacing);
  padding-inline: var(--spacing);
  margin-bottom: var(--spacing);
  border-radius: var(--radius);
  border: var(--border-size) solid var(--border-color);
  background: var(--color-background);

  > header,
  > footer {
    width: auto;
    margin-inline: calc(var(--spacing) * -1);
    padding-inline: var(--spacing);
    background-color: var(--dialog-section-fill);
    display: flex;
    gap: calc(var(--nav-link-gap) * 1.5);
    align-items: center;
  }

  /* Header styling */
  > header {
    margin-top: calc(var(--spacing) * -1);
    border-bottom: var(--border-size) solid var(--dialog-section-border);
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
    justify-content: space-between;
  }

  /* Footer styling */
  > footer {
    margin-bottom: calc(var(--spacing) * -1);
    border-top: var(--border-size) solid var(--dialog-section-border);
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    justify-content: end;
  }

  > :last-child:not(footer) {
    margin-bottom: 0;
  }

  &:is(ul, [role="list"], [role="group"]) {
    padding: 0;
    border: none;

    > * {
      --color-background: transparent;
      --card-item-fill: var(--color-background);
      --border-color: color-mix(
        in srgb,
        light-dark(var(--color-slate-900), var(--color-zinc-350)),
        transparent 90%
      );

      background: var(--card-item-fill);
      color: var(--color-text);
      margin: 0;
      padding: var(--spacing);
      border-radius: 0;
      border: var(--border-size) solid var(--border-color);

      &:first-child {
        border-top-left-radius: var(--radius);
      }

      &:last-child {
        border-bottom-right-radius: var(--radius);
      }

      &:is([aria-current]:not([aria-current="false"])) {
        --card-item-fill: color-mix(
          in srgb,
          var(--color-background),
          var(--color-hover-effect) 15%
        );
      }
    }
  }

  &:is(ul, [role="list"]) {
    display: flex;
    flex-direction: column;

    > * {
      border-top: none;
      list-style: none;

      &:first-child {
        border-top: var(--border-size) solid var(--border-color);
        border-top-right-radius: var(--radius);
      }

      &:last-child {
        border-bottom-left-radius: var(--radius);
      }
    }
  }

  &[role="group"] {
    > * {
      border-left: none;

      &:first-child {
        border-left: var(--border-size) solid var(--border-color);
        border-bottom-left-radius: var(--radius);
      }

      &:last-child {
        border-top-right-radius: var(--radius);
      }
    }
  }
}
