.card,
.panel,
.pane {
  padding-block: var(--spacing);
  padding-inline: var(--spacing);
  margin-bottom: var(--spacing);
  border-radius: var(--radius);
  border: var(--border-size) solid var(--card-border);
  background: var(--card-fill);
  box-shadow: var(--card-shadow);

  & > header,
  & > footer {
    width: auto;
    margin-inline: calc(var(--spacing) * -1);
    padding-inline: var(--spacing);
    background-color: var(--card-section-fill);
  }

  & > header {
    margin-top: calc(var(--spacing) * -1);
    border-bottom: var(--border-size) solid var(--card-border);
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
  }

  & > footer {
    margin-bottom: calc(var(--spacing) * -1);
    border-top: var(--border-size) solid var(--card-border);
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    display: flex;
    justify-content: end;
    gap: calc(var(--nav-link-gap) * 1.5);
  }
}

.panel,
.pane {
  --card-shadow: none;
}

.pane {
  --card-border: transparent;
}
