:has(> .close) {
  position: relative;
}

.close {
  color: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  top: var(--spacing);
  right: var(--spacing);
  border: none;
  border-radius: 0;
  background-color: currentColor;
  background-image: none;
  box-shadow: none;
  mask-image: var(--icon-close);
  mask-position: center;
  mask-size: auto 1rem;
  mask-repeat: no-repeat;
  opacity: 0.5;
  transition: opacity var(--transition);

  &:hover {
    opacity: 1;
  }
}
