/**
 * Container
 * Responsive width container with horizontal padding
 */
.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}

.container {
  @media (--breakpoint-sm) {
    max-width: 510px;
    padding-right: 0;
    padding-left: 0;
  }

  @media (--breakpoint-md) {
    max-width: 700px;
  }

  @media (--breakpoint-lg) {
    max-width: 950px;
  }

  @media (--breakpoint-xl) {
    max-width: 1200px;
  }

  @media (--breakpoint-xxl) {
    max-width: 1440px;
  }
}
