.pane {
  color: var(--color);
  padding: var(--spacing);
  margin-bottom: var(--spacing);
  background: var(--pane-background-color, var(--background-color));
  border: var(--border-width) solid
    var(--pane-border-color, var(--border-color));

  > :last-child {
    margin-bottom: 0 !important;
  }
}
