.pane {
  --pane-color: var(--color);
  --pane-background-color: var(--background-color);
  --pane-spacing: var(--spacing);
  --pane-border-color: transparent;
  --pane-border-width: var(--border-width);
  --typography-color: var(--pane-color);

  background: var(--pane-background-color);
  border: var(--pane-border-width) solid var(--pane-border-color);
  color: var(--pane-color);
  margin-bottom: var(--pane-spacing);
  padding: var(--pane-spacing);

  > :last-child {
    margin-bottom: 0 !important;
  }

  &:is(.content-grid, .full-width) {
    padding-inline: 0;
  }
}
