.pane,
.panel,
.card {
  padding-block: var(--spacing);
  padding-inline: var(--spacing);
  margin-bottom: var(--spacing);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--pane-border);
  background: var(--pane-bg);
  box-shadow: var(--pane-shadow);

  & > header,
  & > footer {
    width: auto;
    margin-inline: calc(var(--spacing) * -1);
    padding-inline: var(--spacing);
    background-color: var(--pane-section-bg);
  }

  & > header {
    margin-top: calc(var(--spacing) * -1);
    border-bottom: var(--border-width) solid var(--pane-section-border);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }

  & > footer {
    margin-bottom: calc(var(--spacing) * -1);
    border-top: var(--border-width) solid var(--pane-section-border);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    display: flex;
    justify-content: end;
    gap: calc(var(--nav-link-spacing) * 1.5);
  }
}

.pane,
.panel {
  --pane-shadow: none;
}

.panel {
  --pane-border: var(--pane-section-border);
}

.card {
  --pane-shadow: var(--shadow-lg);
}
