/* Preventing scrollbars on the page while the sidebar is open */
body:has(.sidebar:popover-open) {
  overflow-x: hidden;
}

.sidebar {
  z-index: 1020;
  position: sticky !important;
  max-height: 100svh;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  top: 0; /* for position sticky to take effect */

  &:popover-open {
    margin: 0;
    display: flex !important;
    width: 100%;
    box-shadow: var(--menu-box-shadow);
    left: 0;
    bottom: 0;

    opacity: 1;
    transform: translateX(0);
    transition:
      opacity 0.3s,
      transform 0.3s,
      display 0.3s allow-discrete;

    &[data-placement="right"] {
      left: unset;
      right: 0;
    }
  }

  &::backdrop {
    backdrop-filter: blur(0.375rem);
    background-color: var(--backdrop-background-color);
    transition:
      backdrop-filter 0.2s ease-in-out,
      background-color 0.2s ease-in-out;
  }
}

@starting-style {
  .sidebar:popover-open {
    opacity: 0;
    transform: translateX(-20px);

    > * :has(&) {
      overflow-x: hidden;
    }

    &[data-placement="right"] {
      transform: translateX(20px);
    }
  }

  aside.sidebar:popover-open::backdrop {
    backdrop-filter: none;
    background-color: transparent;
  }
}

@starting-style {
  .sidebar:popover-open {
    opacity: 0;
    transform: translateX(-20px);
  }
}
