:root,
:host {
  /* --- Pane --- */
  --pane-color: var(--color);
  --pane-background-color: var(--background-color);
  --pane-spacing: var(--spacing);
  --pane-border-color: var(--background-color);
  --pane-border-width: 0;
}
