:root,
:host {
  /* --- Alert Default Styling --- */
  --alert-color: var(--color);
  --alert-background-color: var(--background-color);
  --alert-spacing: var(--spacing);
  --alert-border-color: var(--border-color);
  --alert-border-width: var(--border-width);
  --alert-border-accent-width: var(--alert-border-width);
  --alert-border-radius: var(--border-radius);

  /* --- Card Default Styling --- */
  --card-color: var(--color);
  --card-background-color: var(--background-color);
  --card-spacing: var(--spacing);
  --card-border-color: var(--border-color);
  --card-border-width: var(--border-width);
  --card-border-radius: var(--border-radius);
  --card-marginals-background-color: var(--dialog-marginals-background-color);
  --card-marginals-border-color: var(--dialog-marginals-border-color);

  /* --- Pane Default Styling --- */
  --pane-color: var(--color);
  --pane-background-color: var(--background-color);
  --pane-spacing: var(--spacing);
  --pane-border-color: var(--background-color);
  --pane-border-width: 0;
}
