.focus-ring {
  --_focus-ring-color: var(--primary-background-color);

  &:focus {
    outline: var(--outline-width) solid var(--_focus-ring-color);
    box-shadow: 0 0 0 var(--focus-ring-width) var(--_focus-ring-color);
  }
}

.focus-ring-primary {
  --_focus-ring-color: var(--primary-outline-color);
}

.focus-ring-secondary {
  --_focus-ring-color: var(--secondary-outline-color);
}

.focus-ring-success {
  --_focus-ring-color: var(--success-outline-color);
}

.focus-ring-info {
  --_focus-ring-color: var(--info-outline-color);
}

.focus-ring-warning {
  --_focus-ring-color: var(--warning-outline-color);
}

.focus-ring-danger {
  --_focus-ring-color: var(--danger-outline-color);
}

.focus-ring-contrast {
  --_focus-ring-color: var(--contrast-outline-color);
}
