.focus-ring {
  --_focus-ring-color: var(--focus-ring-color);

  &:focus {
    outline: var(--outline-width) solid var(--_focus-ring-color);
    box-shadow: 0 0 0 var(--focus-ring-width) var(--_focus-ring-color);
  }
}

.focus-ring-primary {
  --_focus-ring-color: var(--primary-focus-ring-color);
}

.focus-ring-secondary {
  --_focus-ring-color: var(--secondary-focus-ring-color);
}

.focus-ring-success {
  --_focus-ring-color: var(--success-focus-ring-color);
}

.focus-ring-info {
  --_focus-ring-color: var(--info-focus-ring-color);
}

.focus-ring-warning {
  --_focus-ring-color: var(--warning-focus-ring-color);
}

.focus-ring-danger {
  --_focus-ring-color: var(--danger-focus-ring-color);
}

.focus-ring-contrast {
  --_focus-ring-color: var(--contrast-focus-ring-color);
}
