/**
 * Article fills up the available width, and stretches to fill the available height.
 * Stacks its children vertically.
 */
article {
  --block-spacing-vertical: calc(var(--spacing) * var(--responsive-multiplier));
  --block-spacing-horizontal: calc(var(--spacing) * var(--responsive-multiplier));

  width: 100%;
  padding-block: var(--block-spacing-vertical);
  padding-inline: var(--block-spacing-horizontal);
}
