button {
  margin: 0;
  overflow: visible;
  font-family: inherit;
  text-transform: none;
}

button,
[type="submit"],
[type="reset"],
[type="button"],
[type="file"]::file-selector-button,
[role="button"] {
  --_buttons-font-size: var(--buttons-font-size);
  --_buttons-color: var(--buttons-color);
  --_buttons-spacing-vertical: var(--buttons-spacing-vertical);
  --_buttons-spacing-horizontal: var(--buttons-spacing-horizontal);
  --_buttons-background-color: var(--buttons-background-color);
  --_buttons-border-radius: var(--buttons-border-radius);
  --_buttons-border-color: var(--buttons-border-color);
  --_buttons-border-width: var(--buttons-border-width);
  --_buttons-box-shadow: var(--buttons-box-shadow);

  padding: var(--_buttons-spacing-vertical) var(--_buttons-spacing-horizontal);
  border: var(--_buttons-border-width) solid var(--_buttons-border-color);
  border-radius: var(--_buttons-border-radius);
  outline: none;
  background-color: var(--_buttons-background-color);
  box-shadow: var(--_buttons-box-shadow);
  color: var(--_buttons-color, white);
  font-weight: var(--font-weight);
  font-size: var(--_buttons-font-size);
  line-height: var(--line-height);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition:
    background-color var(--transition),
    border-color var(--transition),
    color var(--transition),
    box-shadow var(--transition);

  &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
    --_buttons-color: var(--buttons-color-hover);
    --_buttons-background-color: var(--buttons-background-color-hover);
    --_buttons-border-color: var(--buttons-border-color-hover);
    --_buttons-box-shadow: var(--buttons-box-shadow-hover);
  }

  &:focus {
    --_buttons-box-shadow:
      var(--buttons-box-shadow-hover, 0 0 0 rgba(0, 0, 0, 0)),
      0 0 0 var(--outline-width) var(--buttons-focus-ring-color);
  }
}

[type="reset"],
[type="file"]::file-selector-button {
  --_buttons-background-color: var(--secondary-background-color);
  --_buttons-border-color: var(--secondary-background-color);
  --_buttons-color: #fff;

  cursor: pointer;

  &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
    --_buttons-background-color: var(--secondary-background-color-hover);
    --_buttons-border-color: var(--secondary-background-color-hover);
    --_buttons-color: #fff;
  }

  &:focus {
    --_buttons-box-shadow:
      var(--buttons-box-shadow-hover, 0 0 0 rgba(0, 0, 0, 0)),
      0 0 0 var(--outline-width) var(--secondary-focus-ring-color);
  }
}

button,
[type="submit"],
[type="reset"],
[type="button"] {
  appearance: auto;
}

[type="submit"],
[type="reset"],
[type="button"] {
  margin-bottom: var(--spacing);
}

aside {
  nav {
    :where(
      button,
      [role="button"],
      [type="button"],
      input:not(
        [type="checkbox"],
        [type="radio"],
        [type="range"],
        [type="file"]
      ),
      select
    ) {
      display: block !important;
      width: 100%;
    }
  }
}
