button {
  margin: 0;
  overflow: visible;
  font-family: inherit;
  text-transform: none;
}

button,
[type="submit"],
[type="reset"],
[type="button"],
[type="file"]::file-selector-button,
[role="button"] {
  --_buttons-font-size: var(--buttons-font-size);
  --_buttons-color: var(--buttons-color);
  --_buttons-spacing-vertical: var(--buttons-spacing-vertical);
  --_buttons-spacing-horizontal: var(--buttons-spacing-horizontal);
  --_buttons-background-color: var(--buttons-background-color);
  --_buttons-border-color: var(--buttons-border-color);
  --_buttons-focus-ring-color: var(--focus-ring-color);

  padding: var(--_buttons-spacing-vertical) var(--_buttons-spacing-horizontal);
  border: var(--border-width) solid var(--_buttons-border-color);
  border-radius: var(--border-radius);
  background-color: var(--_buttons-background-color);
  color: var(--_buttons-color, white);
  font-weight: var(--font-weight);
  font-size: var(--_buttons-font-size);
  line-height: var(--line-height);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition:
    background-color var(--transition),
    border-color var(--transition),
    color var(--transition);

  &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
    --_buttons-color: var(--buttons-color-hover);
    --_buttons-background-color: var(--buttons-background-color-hover);
    --_buttons-border-color: var(--buttons-border-color-hover);
  }

  &:is(:active, :focus) {
    outline: var(--outline-width) solid var(--_buttons-focus-ring-color);
    box-shadow: 0 0 0 var(--focus-ring-width) var(--_buttons-focus-ring-color);
  }

  &[aria-busy="true"] {
    pointer-events: none;

    &:before {
      filter: brightness(0) invert(1);
    }
  }
}

[type="submit"] {
  width: 100%;
}

[type="reset"] {
  --_buttons-background-color: var(--secondary-background-color);
  --_buttons-border-color: var(--secondary-background-color);
  --_buttons-color: #fff;
  --_buttons-focus-ring-color: var(--secondary-focus-ring-color);

  cursor: pointer;

  &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
    --_buttons-background-color: var(--secondary-background-color-hover);
    --_buttons-border-color: var(--secondary-background-color-hover);
    --_buttons-color: #fff;
  }
}

button,
[type="submit"],
[type="reset"],
[type="button"] {
  appearance: auto;
}

aside {
  nav {
    :where(
      button,
      [role="button"],
      [type="button"],
      input:not(
        [type="checkbox"],
        [type="radio"],
        [type="range"],
        [type="file"]
      ),
      select
    ) {
      display: block !important;
      width: 100%;
    }
  }
}
