pre,
code,
kbd,
samp {
  --font-family: var(--font-family-monospace);
}

kbd {
  --font-weight: var(--kbd-font-weight);
}

pre,
code,
kbd,
samp {
  font-size: 0.875em;
  font-family: var(--font-family);
  border-radius: var(--border-radius);
  background: var(--code-background-color);
  color: var(--code-color);
  font-weight: var(--font-weight);
  line-height: initial;
}

code,
kbd,
samp {
  display: inline-block;
  padding: 0.375rem;
}

pre {
  color: var(--typography-color);
  display: block;
  font-style: normal;
  font-weight: var(--font-weight);
  margin-bottom: var(--typography-spacing-vertical);
  margin-top: 0;
  overflow: auto;

  & code,
  & samp {
    font-size: inherit;
    font-family: inherit;
  }

  & > code,
  & > samp {
    display: block;
    padding: var(--spacing);
    background: none;
    line-height: var(--line-height);
  }
}

kbd {
  background-color: var(--kbd-background-color);
  color: var(--kbd-color);
  vertical-align: baseline;
}
