/**
 * Code
 */
pre,
code,
kbd,
samp {
  font-size: 0.875em;
  font-family: var(--font-family);
  border-radius: var(--border-radius);
  background: var(--color-code-bg);
  color: var(--color-code-text);
  font-weight: var(--font-weight);
  line-height: initial;
}

code,
kbd,
samp {
  display: inline-block;
  padding: 0.375rem;
}

pre {
  -ms-overflow-style: scrollbar;
  color: var(--color-text);
  display: block;
  font-style: normal;
  font-weight: var(--font-weight);
  margin-bottom: var(--spacing);
  margin-bottom: var(--typography-spacing-vertical);
  margin-top: 0;
  overflow-x: auto;
  overflow: auto;

  & code,
  & samp {
    font-size: inherit;
    font-family: inherit;
  }

  & > code,
  & > samp {
    display: block;
    padding: var(--spacing);
    background: none;
    line-height: var(--line-height);
  }
}

kbd {
  background-color: var(--color-kbd-bg);
  color: var(--color-kbd-text);
  vertical-align: baseline;
}
