summary {
  display: list-item; /* modern-normalize */
}

details {
  --_details-summary-background-color: var(--inputs-background-color);
  --_details-summary-color: var(--color);
  --_details-summary-color-focus: var(--primary-color-hover);
  --_details-summary-color-open: var(--color-muted);
  --_details-summary-border-radius: 0;
  --_details-summary-border-color: transparent;
  --_details-summary-border-width: 0;
  --_details-summary-spacing: var(--spacing);
  --_details-summary-focus-ring-color: var(--inputs-focus-ring-color);
  --_details-summary-padding-vertical: 0;
  --_details-summary-padding-horizontal: 0;

  display: block;

  > summary {
    line-height: 1rem;
    list-style-type: none;
    cursor: pointer;
    transition: color var(--transition);

    color: var(--_details-summary-color);
    border: var(--_details-summary-border-width) solid
      var(--_details-summary-border-color);
    border-radius: var(--_details-summary-border-radius);
    background-color: var(--_details-summary-background-color);
    padding: var(--_details-summary-padding-vertical)
      var(--_details-summary-padding-horizontal);

    &:not([role]) {
      &:focus {
        --_details-summary-color: var(--_details-summary-color-focus);

        outline: var(--outline-width) solid
          var(--_details-summary-focus-ring-color);
        box-shadow: 0 0 0 var(--focus-ring-width)
          var(--_details-summary-focus-ring-color);
      }

      &[aria-invalid="false"] {
        --_details-summary-border-color: var(--success-background-color);
        --_details-summary-focus-ring-color: var(--success-focus-ring-color);
      }

      &[aria-invalid="true"] {
        --_details-summary-border-color: var(--danger-background-color);
        --_details-summary-focus-ring-color: var(--danger-focus-ring-color);
      }
    }

    &::-webkit-details-marker {
      display: none;
    }

    &::marker {
      display: none;
    }

    &::-moz-list-bullet {
      list-style-type: none;
    }

    &::after {
      display: block;
      width: 1rem;
      height: 1rem;
      float: right;
      transform: rotate(-90deg);
      content: "";
      transition: transform var(--transition);
      background-image: var(--icon-chevron);
      background-position: right center;
      background-repeat: no-repeat;
      background-size: var(--icons-width) auto;
    }

    &[role="button"] {
      width: 100%;
      text-align: left;

      &::after {
        height: calc(1rem * var(--line-height, 1.5));
        filter: brightness(0) invert(1);
      }
    }

    &[dir="rtl"],
    [dir="rtl"] & {
      text-align: right;

      &::after {
        float: left;
        transform: rotate(90deg);
        background-position: left center;
      }
    }
  }

  &[open] > summary {
    margin-bottom: var(--_details-summary-spacing);

    &:not([role]):not(:focus) {
      --_details-summary-color: var(--_details-summary-color-open);
    }

    &::after {
      transform: rotate(0);
    }
  }
}

/**
 * Dropdown (details with summary[aria-haspopup="menu"])
 */
details:has(> summary[aria-haspopup="menu"]) {
  position: relative;
  border-bottom: none;

  > summary[aria-haspopup="menu"] {
    &::after {
      display: block;
      width: 1rem;
      height: calc(1rem * var(--line-height, 1.5));
      margin-inline-start: 0.25rem;
      margin-left: auto;
      float: right;
      transform: rotate(0deg) translateX(0.2rem);
      background-image: var(--icon-chevron);
      background-position: right center;
      background-size: var(--icons-width) auto;
      background-repeat: no-repeat;
      content: "";
    }

    &:not([role]) {
      --_details-summary-color: var(--inputs-placeholder-color);
      --_details-summary-border-color: var(--inputs-border-color);
      --_details-summary-border-radius: var(--inputs-border-radius);
      --_details-summary-border-width: var(--inputs-border-width);
      --_details-summary-padding-vertical: var(--inputs-spacing-vertical);
      --_details-summary-padding-horizontal: var(--inputs-spacing-horizontal);

      display: flex;
      align-items: center;
      height: calc(
        1rem * var(--line-height) + var(--_details-summary-padding-vertical) *
          2 + var(--_details-summary-border-width) * 2
      );
      line-height: inherit;
      cursor: pointer;
      user-select: none;
      transition:
        background-color var(--transition),
        border-color var(--transition),
        color var(--transition);
    }
  }

  & > :where(summary + ul[role="menu"]) {
    display: flex;
    z-index: var(--max-z-index);
    position: absolute;
    left: 0;
    flex-direction: column;
    width: 100%;
    min-width: fit-content;
    margin: 0;
    margin-top: var(--focus-ring-width);
    padding: 0;
    border: var(--border-width) solid var(--details-menu-border-color);
    border-radius: var(--border-radius);
    background-color: var(--details-menu-background-color);
    box-shadow: var(--details-menu-box-shadow);
    color: var(--details-menu-color);
    white-space: nowrap;
    opacity: 0;
    transition:
      opacity var(--transition),
      transform 0s ease-in-out 1s;

    &[dir="rtl"] {
      right: 0;
      left: auto;
    }

    & > li {
      width: 100%;
      margin-bottom: 0;
      padding: calc(var(--inputs-spacing-vertical) * 0.5)
        var(--inputs-spacing-horizontal);
      list-style: none;

      &:first-of-type {
        margin-top: calc(var(--inputs-spacing-vertical) * 0.5);
      }

      &:last-of-type {
        margin-bottom: calc(var(--inputs-spacing-vertical) * 0.5);
      }

      & a {
        display: block;
        margin: calc(var(--inputs-spacing-vertical) * -0.5)
          calc(var(--inputs-spacing-horizontal) * -1);
        padding: calc(var(--inputs-spacing-vertical) * 0.5)
          var(--inputs-spacing-horizontal);
        overflow: hidden;
        border-radius: 0;
        color: var(--details-menu-color);
        text-decoration: none;
        text-overflow: ellipsis;

        &:is(
          [aria-current]:not([aria-current="false"]),
          :hover,
          :active,
          :focus
        ) {
          background-color: var(--details-menu-background-color-hover);
        }
      }

      & label {
        width: 100%;
      }

      &:has(label):hover {
        background-color: var(--details-menu-background-color-hover);
      }
    }
  }

  &[open] > summary {
    margin-bottom: 0;
  }

  &[open] > summary + ul[role="menu"] {
    transform: scaleY(1);
    opacity: 1;
    transition:
      opacity var(--transition),
      transform 0s ease-in-out 0s;
  }

  &[open] > summary::before {
    display: block;
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background: none;
    content: "";
    cursor: default;
  }
}

label > details:has(> summary[aria-haspopup="menu"]) {
  margin-top: calc(var(--_details-summary-spacing) * 0.25);
}

nav details:has(> summary[aria-haspopup="menu"]) {
  margin-bottom: 0;
  display: inline;

  > summary {
    display: flex !important;
    align-items: center !important;
    height: auto !important;
    padding: calc(
        var(--nav-link-gap) - var(--_details-summary-border-width) * 2
      )
      var(--nav-link-gap) !important;

    &::after {
      transform: rotate(0deg) translateX(0rem);
    }

    /* Styles for dropdowns with role="button" inside nav */
    &:is([role="button"]) {
      width: auto;
    }
  }
}
