:where(:root),
:where(:host) {
  background-color: var(--background-color);
  color: var(--typography-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: var(--font-family);
  text-underline-offset: var(--text-underline-offset);
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  tab-size: 4;
}

::selection {
  background-color: color-mix(
    in srgb,
    var(--primary-background-color),
    white 75%
  );
}

/* modern-normalize */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}
