hgroup {
  margin-bottom: var(--typography-margin-block);

  & > mark:first-of-type {
    --mark-background-color: transparent;
    padding: 0;
    font-weight: bolder;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: block;
    margin-bottom: var(--typography-margin-block);
  }

  & > * {
    margin-block: 0 !important;

    &:not(:first-child):last-child {
      color: var(--color-muted);
      --font-weight: unset;
      font-size: 1rem;
    }
  }
}
