:where(a:not([role="button"])),
[role="link"] {
  --background-color: transparent;
  --border-color: transparent;
  --color: var(--primary-color);
  --shadow: transparent;
  outline: none;
  padding: 0;
  background-color: var(--background-color);
  color: var(--color);
  text-decoration: var(--link-text-decoration);
  text-decoration-color: oklch(from var(--color) l c h / 0.3);
  text-underline-offset: 0.125em;
  transition:
    background-color var(--transition),
    color var(--transition),
    text-decoration-color var(--transition),
    text-decoration var(--transition),
    box-shadow var(--transition);

  &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
    --background-color: transparent;
    --border-color: transparent;
    --color: var(--primary-color-hover);
    --shadow: transparent;
    text-decoration-color: oklch(from var(--color) l c h / 0.85);
  }

  &:is([aria-current]:not([aria-current="false"])) {
    font-weight: 500;
    text-decoration-color: oklch(from var(--color) l c h / 0.6);
  }

  &:focus-visible {
    box-shadow: 0 0 0 var(--outline-width) var(--primary-focus-ring-color);
  }
}

[role="link"] {
  cursor: pointer;

  &button {
    display: inline-flex;
  }
}

a[role="button"] {
  display: inline-block;
}

aside {
  nav {
    a:not([role="button"]),
    [role="link"] {
      display: block !important;
      width: 100%;
    }
  }
}

nav {
  a:not([role="button"]),
  [role="link"] {
    &:not(:hover) {
      --link-text-decoration: none;
    }
  }
}
