/**
 * Link
 */
:where(a:not([role=button])),
[role=link] {
  --color-text: rgb(var(--color-primary-rgb));
  --color-background: transparent;
  --underline: var(--color-primary-underline);
  outline: none;
  background-color: var(--color-background);
  color: var(--color-text);
  text-decoration: var(--text-decoration);
  text-decoration-color: var(--underline);
  text-underline-offset: 0.125em;
  transition: background-color var(--transition), color var(--transition), text-decoration var(--transition), box-shadow var(--transition);
}

:where(a:not([role=button])),
[role=link] {
  &:is([aria-current]:not([aria-current=false]), :hover, :active, :focus) {
    --color-text: var(--color-primary-hover);
    --underline: var(--color-primary-hover-underline);
    --text-decoration: underline;
  }

  &:focus-visible {
    box-shadow: 0 0 0 var(--outline-width) var(--color-primary-focus);
  }
}

a[role=button] {
  display: inline-block;
}

aside {
  nav {
    a:not([role=button]), [role=link] {
      display: block !important;
      width: 100%;
    }
  }
}

nav {
  a:not([role=button]), [role=link] {
    &:not(:hover) {
      text-decoration: none;
    }
  }
}
