p {
  margin-top: 0;
  margin-bottom: var(--typography-spacing-vertical);
  color: var(--color-text);
  font-style: normal;
  font-weight: var(--font-weight);
  margin-bottom: var(--typography-spacing-vertical);
}
