progress {
  --_progress-track-background-color: var(--progress-track-background-color);
  --_progress-accent-color: var(--progress-accent-color);

  display: inline-block;
  appearance: none;
  width: 100%;
  height: 0.5rem;
  margin-bottom: calc(var(--spacing) * 0.5);
  overflow: hidden;
  border: 0;
  border-radius: var(--border-radius);
  background-color: var(--_progress-track-background-color);
  color: var(--_progress-accent-color);
  vertical-align: baseline;
  accent-color: var(--_progress-accent-color);

  &::-webkit-progress-bar {
    border-radius: var(--border-radius);
    background: none;
  }

  &[value]::-webkit-progress-value {
    background-color: var(--_progress-accent-color);
    transition: inline-size var(--transition);
  }

  &::-moz-progress-bar {
    background-color: var(--_progress-accent-color);
  }
}

@media (prefers-reduced-motion: no-preference) {
  progress:indeterminate {
    background: var(--_progress-track-background-color)
      linear-gradient(
        to right,
        var(--_progress-accent-color) 30%,
        var(--_progress-track-background-color) 30%
      )
      top left/150% 150% no-repeat;
    animation: progress-indeterminate 1s linear infinite;

    &[value]::-webkit-progress-value {
      background-color: transparent;
    }

    &::-moz-progress-bar {
      background-color: transparent;
    }
  }

  [dir="rtl"] progress:indeterminate {
    animation-direction: reverse;
  }
}

@keyframes progress-indeterminate {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}
