small {
  --font-size: var(--small-font-size);

  font-size: var(--font-size);

  :where(input, select, textarea, fieldset) + & {
    display: block;
    width: 100%;
    margin-bottom: var(--spacing);
    color: var(--color-muted);
  }

  :where(
      input:not([type="checkbox"], [type="radio"], [role="switch"]),
      select,
      textarea,
      fieldset
    )
    + & {
    margin-top: calc(var(--spacing) * -0.75);
  }

  :where(input, select, textarea, fieldset)[aria-invalid="false"] + & {
    color: var(--color-valid);
  }

  :where(input, select, textarea, fieldset)[aria-invalid="true"] + & {
    color: var(--color-invalid);
  }
}
