/**
 * Table
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--color-text);
  font-style: normal;
  font-weight: var(--font-weight);
  margin-bottom: var(--typography-spacing-vertical);
  margin-top: 0;
  text-indent: 0;
  width: 100%;
}

th,
td {
  padding: calc(var(--spacing) / 2) var(--spacing);
  border-bottom: var(--border-width) solid var(--table-border-color);
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: var(--font-weight);
  text-align: left;
  text-align: start;
}

tfoot {
  & th,
  & td {
    border-top: var(--border-width) solid var(--table-border-color);
    border-bottom: 0;
  }
}
