[type="file"] {
	--color-text: var(--color-text-muted);
	margin-left: calc(var(--outline-size) * -1);
	padding: calc(var(--input-spacing-vertical) * 0.5) 0;
	padding-left: var(--outline-size);
	border: 0;
	border-radius: 0;
	background: none;

	&::file-selector-button {
		margin-right: calc(var(--spacing) / 2);
		padding: calc(var(--input-spacing-vertical) * 0.5)
			var(--input-spacing-horizontal);
	}

	&:is(:hover, :active, :focus)::file-selector-button {
		--color-background: var(--color-secondary-fill-hover);
		--border-color: var(--color-secondary-fill-hover);
	}

	&:focus::file-selector-button {
		--shadow:
			var(--button-shadow-hover, 0 0 0 rgba(0, 0, 0, 0)),
			0 0 0 var(--outline-size) var(--color-secondary-focus-ring);
	}
}
