/**
 * Input type range
 */
[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 1.25rem;
  background: none;

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.375rem;
    border-radius: var(--border-radius);
    background-color: var(--range-border-color);
    transition: background-color var(--transition), box-shadow var(--transition);
  }

  &::-moz-range-track {
    width: 100%;
    height: 0.375rem;
    border-radius: var(--border-radius);
    background-color: var(--range-border-color);
    transition: background-color var(--transition), box-shadow var(--transition);
  }

  &::-ms-track {
    width: 100%;
    height: 0.375rem;
    border-radius: var(--border-radius);
    background-color: var(--range-border-color);
    transition: background-color var(--transition), box-shadow var(--transition);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -0.4375rem;
    border: 2px solid var(--range-thumb-border);
    border-radius: 50%;
    background-color: var(--range-thumb-color);
    cursor: pointer;
    transition: background-color var(--transition), transform var(--transition);
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -0.4375rem;
    border: 2px solid var(--range-thumb-border);
    border-radius: 50%;
    background-color: var(--range-thumb-color);
    cursor: pointer;
    transition: background-color var(--transition), transform var(--transition);
  }

  &::-ms-thumb {
    -webkit-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -0.4375rem;
    border: 2px solid var(--range-thumb-border);
    border-radius: 50%;
    background-color: var(--range-thumb-color);
    cursor: pointer;
    transition: background-color var(--transition), transform var(--transition);
  }

  &:active, &:focus-within {
    --range-border-color: var(--range-active-border);
    --range-thumb-color: var(--range-thumb-active);
  }

  &:active {
    &::-webkit-slider-thumb {
      transform: scale(1.25);
    }

    &::-moz-range-thumb {
      transform: scale(1.25);
    }

    &::-ms-thumb {
      transform: scale(1.25);
    }
  }
}
