/**
 * Input type search
 *
 */
input:not([type=checkbox], [type=radio], [type=range], [type=file])[type=search] {
  padding-inline-start: calc(var(--form-element-spacing-horizontal) + 1.75rem);
  background-image: var(--icon-search);
  background-position: left calc(var(--form-element-spacing-horizontal) + 0.125rem) center;
  background-size: 1rem auto;
  background-repeat: no-repeat;

  &[aria-invalid] {
    padding-inline-start: calc(var(--form-element-spacing-horizontal) + 1.75rem);
    /* Using calc with var to workaround LightningCSS minification bug with 3-value syntax */
    background-position: left calc(var(--form-element-spacing-horizontal) * 0 + 1.125rem) center, right calc(var(--form-element-spacing-horizontal) * 0 + 0.75rem) center;
  }

  &[aria-invalid=false] {
    background-image: var(--icon-search), var(--icon-valid);
  }

  &[aria-invalid=true] {
    background-image: var(--icon-search), var(--icon-invalid);
  }
}

[dir=rtl] input:not([type=checkbox], [type=radio], [type=range], [type=file])[type=search] {
  background-position: right calc(var(--form-element-spacing-horizontal) * 0 + 1.125rem) center;

  &[aria-invalid] {
    /* Using calc with var to workaround LightningCSS minification bug with 3-value syntax */
    background-position: right calc(var(--form-element-spacing-horizontal) * 0 + 1.125rem) center, left calc(var(--form-element-spacing-horizontal) * 0 + 0.75rem) center;
  }
}
