[type="file"] {
  --color: var(--color-muted);
  margin-left: calc(var(--outline-width) * -1);
  padding: calc(var(--input-spacing-vertical) * 0.5) 0;
  padding-left: var(--outline-width);
  border: 0;
  border-radius: 0;
  background: none;

  &::file-selector-button {
    margin-right: calc(var(--spacing) / 2);
    padding: calc(var(--input-spacing-vertical) * 0.5)
      var(--input-spacing-horizontal);
  }

  &:is(:hover, :active, :focus)::file-selector-button {
    --background-color: var(--secondary-background-color-hover);
    --border-color: var(--secondary-background-color-hover);
  }

  &:focus::file-selector-button {
    --box-shadow:
      var(--button-box-shadow-hover, 0 0 0 rgba(0, 0, 0, 0)),
      0 0 0 var(--outline-width) var(--secondary-focus-ring-color);
  }
}
