input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: 1rem;
  line-height: var(--line-height);
  font-family: inherit;
  letter-spacing: inherit;
}

:where(input, select, textarea) {
  --_inputs-background-color: var(--inputs-background-color);
  --_inputs-border-color: var(--inputs-border-color);
  --_inputs-focus-ring-color: var(--inputs-focus-ring-color);
  --_inputs-accent-color: var(--inputs-accent-color);
  --_inputs-border-width: var(--inputs-border-width);
  --_inputs-border-radius: var(--inputs-border-radius);

  padding: var(--inputs-spacing-vertical) var(--inputs-spacing-horizontal);
  border: var(--_inputs-border-width) solid var(--_inputs-border-color);
  border-radius: var(--_inputs-border-radius);
  background-color: var(--_inputs-background-color);
  color: var(--inputs-color);
  font-weight: var(--font-weight);
  transition:
    background-color var(--transition),
    border-color var(--transition),
    color var(--transition);

  /* Non button inputs */
  &:not([type="button"], [type="submit"], [type="reset"]) {
    &:is(:active, :focus, :focus-visible) {
      --_inputs-background-color: var(--inputs-background-color-focus);

      outline-offset: 0;
      outline: var(--outline-width) solid var(--_inputs-focus-ring-color);
      box-shadow: 0 0 0 var(--focus-ring-width) var(--_inputs-focus-ring-color);
    }

    &[aria-invalid="false"] {
      --_inputs-border-color: var(--success-background-color);
      --_inputs-accent-color: var(--success-background-color);
      --_inputs-focus-ring-color: var(--success-focus-ring-color);
    }

    &[aria-invalid="true"] {
      --_inputs-border-color: var(--danger-background-color);
      --_inputs-accent-color: var(--danger-background-color);
      --_inputs-focus-ring-color: var(--danger-focus-ring-color);
    }
  }

  &:not([type="checkbox"], [type="radio"]) {
    width: 100%;
    margin-bottom: var(--spacing);
  }

  label > & {
    margin-top: calc(var(--spacing) * 0.25);
  }

  &::placeholder {
    color: var(--inputs-placeholder-color);
  }
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}
