input:not(
  [type="submit"],
  [type="button"],
  [type="reset"],
  [type="checkbox"],
  [type="radio"],
  [type="file"]
),
:where(select, textarea) {
  --outline-width: var(--inputs-outline-width);
}

input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: 1rem;
  line-height: var(--line-height);
  font-family: inherit;
  letter-spacing: inherit;
}

input {
  overflow: visible;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

:-moz-focusring {
  outline: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}

[type="file"],
[type="range"] {
  padding: 0;
  border-width: 0;
}

input:not([type="checkbox"], [type="radio"], [type="range"]) {
  height: calc(
    1rem * var(--line-height) + var(--inputs-spacing-vertical) * 2 +
      var(--border-width) * 2
  );
}

input:not([type="checkbox"], [type="radio"]),
button[type="submit"],
select,
textarea {
  width: 100%;
}

input:not(
  [type="checkbox"],
  [type="radio"],
  [type="range"],
  [type="file"],
  [type="button"],
  [type="submit"],
  [type="reset"]
),
select,
textarea {
  appearance: none;
  padding: var(--inputs-spacing-vertical) var(--inputs-spacing-horizontal);
}

label > :where(input, select, textarea) {
  margin-top: calc(var(--spacing) * 0.25);
}

input,
select,
textarea {
  --background-color: var(--inputs-background-color);
  --border-color: var(--inputs-border-color);

  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none;
  background-color: var(--background-color);
  box-shadow: var(--inputs-box-shadow, none);
  color: var(--inputs-color);
  font-weight: var(--font-weight);
  transition:
    background-color var(--transition),
    border-color var(--transition),
    color var(--transition),
    box-shadow var(--transition);
}

input:not(
    [type="submit"],
    [type="button"],
    [type="reset"],
    [type="checkbox"],
    [type="radio"],
    [readonly]
  ):is(:active, :focus),
:where(select, textarea):not([readonly]):is(:active, :focus) {
  --background-color: var(--inputs-background-color-focus);
}

input:not(
    [type="submit"],
    [type="button"],
    [type="reset"],
    [role="switch"],
    [readonly]
  ):is(:active, :focus),
:where(select, textarea):not([readonly]):is(:active, :focus) {
  --border-color: var(--inputs-border-color-focus);
}

input:not(
    [type="submit"],
    [type="button"],
    [type="reset"],
    [type="range"],
    [type="file"],
    [readonly]
  ):focus,
:where(select, textarea):not([readonly]):focus {
  --inputs-box-shadow: 0 0 0 var(--outline-width)
    var(--inputs-border-color-focus);
}

label[aria-disabled="true"] input[disabled] {
  opacity: 1;
}

:where(
  :is(input, select, textarea):not(
      [type="checkbox"],
      [type="radio"],
      [type="date"],
      [type="datetime-local"],
      [type="month"],
      [type="time"],
      [type="week"],
      [type="range"]
    )[aria-invalid]
) {
  padding-right: calc(var(--inputs-spacing-horizontal) + 1.5rem);
  padding-left: var(--inputs-spacing-horizontal);
  padding-inline-start: var(--inputs-spacing-horizontal);
  padding-inline-end: calc(var(--inputs-spacing-horizontal) + 1.5rem);
  background-position: center right 0.75rem;
  background-size: 1rem auto;
  background-repeat: no-repeat;
}

:where(
  input:not(
      [type="checkbox"],
      [type="radio"],
      [type="date"],
      [type="datetime-local"],
      [type="month"],
      [type="time"],
      [type="week"],
      [type="range"]
    )[aria-invalid="false"],
  textarea[aria-invalid="false"]
) {
  background-image: var(--icon-valid);
}

:where(
  input:not(
      [type="checkbox"],
      [type="radio"],
      [type="date"],
      [type="datetime-local"],
      [type="month"],
      [type="time"],
      [type="week"],
      [type="range"]
    )[aria-invalid="true"],
  textarea[aria-invalid="true"]
) {
  background-image: var(--icon-invalid);
}

:is(input, select, textarea)[aria-invalid="false"] {
  --border-color: var(--success-background-color);
}

:is(input, select, textarea)[aria-invalid="false"]:is(:active, :focus) {
  --border-color: var(--success-background-color-hover);
}

input:not([type="checkbox"], [type="radio"])[aria-invalid="false"]:is(
    :active,
    :focus
  ),
select[aria-invalid="false"]:is(:active, :focus),
textarea[aria-invalid="false"]:is(:active, :focus) {
  --inputs-box-shadow: 0 0 0 var(--outline-width)
    var(--success-background-color);
}

:is(input, select, textarea)[aria-invalid="true"] {
  --border-color: var(--danger-background-color);
}

:is(input, select, textarea)[aria-invalid="true"]:is(:active, :focus) {
  --border-color: var(--danger-background-color-hover);
}

input:not([type="checkbox"], [type="radio"])[aria-invalid="true"]:is(
    :active,
    :focus
  ),
select[aria-invalid="true"]:is(:active, :focus),
textarea[aria-invalid="true"]:is(:active, :focus) {
  --inputs-box-shadow: 0 0 0 var(--outline-width) var(--danger-background-color);
}

:where(
  [dir="rtl"]
    :is(input, select, textarea):not([type="checkbox"], [type="radio"]):is(
      [aria-invalid],
      [aria-invalid="true"],
      [aria-invalid="false"]
    )
) {
  background-position: center left 0.75rem;
}

input::placeholder,
textarea::placeholder,
select:invalid {
  color: var(--inputs-placeholder-color);
  opacity: 1;
}

input:not([type="checkbox"], [type="radio"]),
select,
textarea {
  margin-bottom: var(--spacing);
}
