/* See ./_common.css for shared styles */
input[type="search"] {
  --border-radius: var(--input-search-border-radius);

  -webkit-appearance: textfield;
  outline-offset: -2px;

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  padding-inline-start: calc(var(--inputs-spacing-horizontal) + 1.75rem);
  background-image: var(--icon-search);
  background-position: left calc(var(--inputs-spacing-horizontal) + 0.125rem)
    center;
  background-size: 1rem auto;
  background-repeat: no-repeat;

  &[aria-invalid] {
    padding-inline-start: calc(var(--inputs-spacing-horizontal) + 1.75rem);
    /* Using calc with var to workaround LightningCSS minification bug with 3-value syntax */
    background-position:
      left calc(var(--inputs-spacing-horizontal) * 0 + 1.125rem) center,
      right calc(var(--inputs-spacing-horizontal) * 0 + 0.75rem) center;
  }

  &[aria-invalid="false"] {
    background-image: var(--icon-search), var(--icon-valid);
  }

  &[aria-invalid="true"] {
    background-image: var(--icon-search), var(--icon-invalid);
  }

  [dir="rtl"] & {
    /* Using calc with var to workaround LightningCSS minification bug with 3-value syntax */
    background-position: right
      calc(var(--inputs-spacing-horizontal) * 0 + 1.125rem) center;

    &[aria-invalid] {
      background-position:
        right calc(var(--inputs-spacing-horizontal) * 0 + 1.125rem) center,
        left calc(var(--inputs-spacing-horizontal) * 0 + 0.75rem) center;
    }
  }
}
