/* See ./_common.css for shared styles */

input[type="search"] {
  --border-radius: var(--input-search-border-radius);

  -webkit-appearance: textfield;

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  outline-offset: -2px;
  padding-inline-start: calc(var(--inputs-spacing-horizontal) + var(--icons-width) + var(--icons-background-position-gap));
  background-image: var(--icon-search);
  background-position: left var(--icons-background-position-gap) center;
  background-size: 1rem auto;
  background-repeat: no-repeat;

  &[aria-invalid] {
    padding-inline-end: calc(var(--inputs-spacing-horizontal) + var(--icons-width) + var(--icons-background-position-gap));
    background-position:
      left var(--icons-background-position-gap) center,
      right var(--icons-background-position-gap) center;
  }

  &[aria-invalid="false"] {
    background-image: var(--icon-search), var(--icon-valid);
  }

  &[aria-invalid="true"] {
    background-image: var(--icon-search), var(--icon-invalid);
  }

  [dir="rtl"] & {
    background-position: right var(--icons-background-position-gap) center;

    &[aria-invalid] {
      background-position:
        right var(--icons-background-position-gap) center,
        left var(--icons-background-position-gap) center;
    }
  }
}
