/* See ./_common.css for shared styles */

[type="checkbox"][role="switch"] {
  --border-width: var(--input-switch-border-width);
  --_inputs-background-color: var(--input-switch-background-color);
  --color: var(--input-switch-thumb-background-color);

  width: 2.25em;
  height: 1.25em;
  border: var(--border-width) solid var(--border-color);
  border-radius: 1.25em;
  line-height: 1.25em;

  &:before {
    display: block;
    aspect-ratio: 1;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color);
    box-shadow: var(--input-switch-thumb-box-shadow);
    content: "";
    transition: margin 0.1s ease-in-out;
  }

  &:not(:checked) {
    &:not([aria-invalid]) {
      --border-color: var(--input-switch-background-color);
    }

    &:focus {
      --_inputs-background-color: var(--input-switch-background-color);
    }
  }

  &:checked {
    background-image: none;

    &::before {
      margin-inline-start: calc(2.25em - 1.25em);
    }
  }

  &[disabled] {
    --_inputs-background-color: var(--border-color);
  }
}
