/* See ./_common.css for shared styles */

[type="checkbox"][role="switch"] {
  --_inputs-border-width: var(--input-switch-border-width);
  --_inputs-background-color: var(--input-switch-background-color);
  --color: var(--input-switch-thumb-background-color);
  --_inputs-border-radius: var(--input-switch-border-radius);

  width: 2.25em;
  height: 1.25em;
  line-height: 1.25em;

  &:before {
    display: block;
    aspect-ratio: 1;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color);
    content: "";
    transition: margin 0.1s ease-in-out;
  }

  &:not(:checked) {
    &:not([aria-invalid]) {
      --_inputs-border-color: var(--input-switch-background-color);
    }

    &:focus {
      --_inputs-background-color: var(--input-switch-background-color);
    }
  }

  &:checked {
    background-image: none;

    &::before {
      margin-inline-start: calc(2.25em - 1.25em);
    }
  }

  &[disabled] {
    --_inputs-background-color: var(--_inputs-border-color);
  }
}
