/* See ./_common.css for shared styles */

textarea {
  overflow: auto;
  display: block;
  resize: vertical;

  &[aria-invalid] {
    background-position: top right var(--icons-background-position-gap);
    background-size: var(--icons-width) calc(
      var(--icons-width) * var(--line-height) + var(--inputs-spacing-vertical) * 2 +
        var(--border-width) * 2
    );;
  }
}
