/* See ./_common.css for shared styles */

textarea {
  overflow: auto;
  display: block;
  resize: vertical;
}

:where(textarea[aria-invalid]) {
  --icon-height: calc(
    1rem * var(--line-height) + var(--inputs-spacing-vertical) * 2 +
      var(--border-width) * 2
  );
  background-position: top right 0.75rem;
  background-size: 1rem var(--icon-height);
}
