/* See ./_common.css for shared styles */

textarea {
  overflow: auto;
  display: block;
  resize: vertical;

  &[aria-invalid] {
    background-position: top right var(--icons-background-position-gap);
    background-repeat: no-repeat;
    background-size: var(--icons-width)
      calc(
        var(--icons-width) * var(--line-height) +
          var(--inputs-padding-block) * 2 + var(--_inputs-border-width) * 2
      );

    &[aria-invalid="false"] {
      background-image: var(--icon-valid);
    }

    &[aria-invalid="true"] {
      background-image: var(--icon-invalid);
    }
  }

  &[dir="rtl"],
  [dir="rtl"] & {
    background-position: top left var(--icons-background-position-gap);
  }
}
