:root {
  --color-primary-950: #161003;
  --color-primary-900: #231a03;
  --color-primary-850: #312302;
  --color-primary-800: #3f2d00;
  --color-primary-750: #4d3700;
  --color-primary-700: #5b4200;
  --color-primary-650: #694d00;
  --color-primary-600: #785800;
  --color-primary-550: #876400;
  --color-primary-500: #977000;
  --color-primary-450: #a77c00;
  --color-primary-400: #b78800;
  --color-primary-350: #c79400;
  --color-primary-300: #d8a100;
  --color-primary-250: #e8ae01;
  --color-primary-200: #ffbf00;
  --color-primary-150: #fecc63;
  --color-primary-100: #fddea6;
  --color-primary-50: #fcefd9;
  --color-primary: var(--color-primary-550);

  --text-selection-color: light-dark(oklch(from var(--color-primary-400) l c h / 0.25), oklch(from var(--color-primary-350) l c h / 0.1875));
  --primary: light-dark(var(--color-primary-550), var(--color-primary-350));
  --primary-background: light-dark(var(--color-primary-200), var(--color-primary-200));
  --primary-underline: light-dark(oklch(from var(--color-primary-550) l c h / 0.5), oklch(from var(--color-primary-350) l c h / 0.5));
  --primary-hover: light-dark(var(--color-primary-650), var(--color-primary-250));
  --primary-hover-background: light-dark(var(--color-primary-250), var(--color-primary-150));
  --primary-focus: light-dark(oklch(from var(--color-primary-400) l c h / 0.5), oklch(from var(--color-primary-350) l c h / 0.375));
  --primary-inverse: color-contrast(var(--primary-background));
  --switch-thumb-box-shadow: light-dark(0 0 0.5rem oklch(0% 0 0 / 0.25), 0 0 0.5rem oklch(0% 0 0 / 0.25));
}
