:root {
  /* --color-cyan-950: #041413; */
  /* --color-cyan-900: #051f1f; */
  /* --color-cyan-850: #052b2b; */
  /* --color-cyan-800: #043737; */
  /* --color-cyan-750: #014343; */
  /* --color-cyan-700: #015050; */
  --color-cyan-650: #025d5d;
  --color-cyan-600: #046a6a;
  --color-cyan-550: #047878;
  --color-cyan-500: #058686;
  /* --color-cyan-450: #059494; */
  --color-cyan-400: #05a2a2;
  --color-cyan-350: #0ab1b1;
  /* --color-cyan-300: #0ac2c2; */
  --color-cyan-250: #0ccece;
  /* --color-cyan-200: #25dddd; */
  /* --color-cyan-150: #3deceb; */
  /* --color-cyan-100: #58faf9; */
  /* --color-cyan-50: #c3fcfa; */
  /* --color-cyan: var(--color-cyan-550); */

  --text-selection-color: light-dark(oklch(from var(--color-cyan-400) l c h / 0.25), oklch(from var(--color-cyan-350) l c h / 0.1875));
  --primary: light-dark(var(--color-cyan-550), var(--color-cyan-350));
  --primary-background: light-dark(var(--color-cyan-550), var(--color-cyan-550));
  --primary-underline: light-dark(oklch(from var(--color-cyan-550) l c h / 0.5), oklch(from var(--color-cyan-350) l c h / 0.5));
  --primary-hover: light-dark(var(--color-cyan-650), var(--color-cyan-250));
  --primary-hover-background: light-dark(var(--color-cyan-600), var(--color-cyan-500));
  --primary-focus: light-dark(oklch(from var(--color-cyan-400) l c h / 0.5), oklch(from var(--color-cyan-350) l c h / 0.375));
  --primary-inverse: color-contrast(var(--primary-background));
  --switch-thumb-box-shadow: light-dark(0 0 0 oklch(0% 0 0 / 0), 0 0 0 oklch(0% 0 0 / 0));
}
