:root {
  /* --color-fuchsia-950: #230518; */
  /* --color-fuchsia-900: #360925; */
  /* --color-fuchsia-850: #480b33; */
  /* --color-fuchsia-800: #5c0d41; */
  /* --color-fuchsia-750: #700e4f; */
  /* --color-fuchsia-700: #84135e; */
  --color-fuchsia-650: #98176d;
  --color-fuchsia-600: #ac1c7c;
  --color-fuchsia-550: #c1208b;
  --color-fuchsia-500: #d9269d;
  /* --color-fuchsia-450: #ed2aac; */
  --color-fuchsia-400: #f748b7;
  --color-fuchsia-350: #f869bf;
  /* --color-fuchsia-300: #f983c7; */
  --color-fuchsia-250: #fa9acf;
  /* --color-fuchsia-200: #f9b1d8; */
  /* --color-fuchsia-150: #f9c6e1; */
  /* --color-fuchsia-100: #f9daea; */
  /* --color-fuchsia-50: #fbedf4; */
  /* --color-fuchsia: var(--color-fuchsia-550); */

  --color-selection: light-dark(oklch(from var(--color-fuchsia-400) l c h / 0.25), oklch(from var(--color-fuchsia-350) l c h / 0.1875));
  --color-primary-text: light-dark(var(--color-fuchsia-550), var(--color-fuchsia-350));
  --color-primary-fill: light-dark(var(--color-fuchsia-550), var(--color-fuchsia-550));
  --color-primary-underline: light-dark(oklch(from var(--color-fuchsia-550) l c h / 0.5), oklch(from var(--color-fuchsia-350) l c h / 0.5));
  --color-primary-text-hover: light-dark(var(--color-fuchsia-650), var(--color-fuchsia-250));
  --color-primary-fill-hover: light-dark(var(--color-fuchsia-600), var(--color-fuchsia-500));
  --color-primary-focus-ring: light-dark(oklch(from var(--color-fuchsia-400) l c h / 0.5), oklch(from var(--color-fuchsia-350) l c h / 0.375));
  --color-primary-on-fill: color-contrast(var(--color-primary-fill));
  --switch-thumb-box-shadow: light-dark(0 0 0 oklch(0% 0 0 / 0), 0 0 0 oklch(0% 0 0 / 0));
}
