:root {
  --color-primary-950: #110b31;
  --color-primary-900: #181546;
  --color-primary-850: #1f1e5e;
  --color-primary-800: #272678;
  --color-primary-750: #2f2f92;
  --color-primary-700: #3838ab;
  --color-primary-650: #4040bf;
  --color-primary-600: #524ed2;
  --color-primary-550: #655cd6;
  --color-primary-500: #7569da;
  --color-primary-450: #8577dd;
  --color-primary-400: #9486e1;
  --color-primary-350: #a294e5;
  --color-primary-300: #b0a3e8;
  --color-primary-250: #bdb2ec;
  --color-primary-200: #cac1ee;
  --color-primary-150: #d8d0f1;
  --color-primary-100: #e5e0f4;
  --color-primary-50: #f2f0f9;
  --color-primary: var(--color-primary-550);

  --text-selection-color: light-dark(oklch(from var(--color-primary-400) l c h / 0.25), oklch(from var(--color-primary-350) l c h / 0.1875));
  --primary: light-dark(var(--color-primary-550), var(--color-primary-350));
  --primary-background: light-dark(var(--color-primary-600), var(--color-primary-600));
  --primary-underline: light-dark(oklch(from var(--color-primary-550) l c h / 0.5), oklch(from var(--color-primary-350) l c h / 0.5));
  --primary-hover: light-dark(var(--color-primary-650), var(--color-primary-250));
  --primary-hover-background: light-dark(var(--color-primary-650), var(--color-primary-550));
  --primary-focus: light-dark(oklch(from var(--color-primary-400) l c h / 0.5), oklch(from var(--color-primary-350) l c h / 0.375));
  --primary-inverse: color-contrast(var(--primary-background));
  --switch-thumb-box-shadow: light-dark(0 0 0 oklch(0% 0 0 / 0), 0 0 0 oklch(0% 0 0 / 0));
}
