:root {
  --color-primary-950: #04140c;
  --color-primary-900: #052014;
  --color-primary-850: #042c1b;
  --color-primary-800: #033823;
  --color-primary-750: #00452b;
  --color-primary-700: #015234;
  --color-primary-650: #005f3d;
  --color-primary-600: #006d46;
  --color-primary-550: #007a50;
  --color-primary-500: #00895a;
  --color-primary-450: #029764;
  --color-primary-400: #00a66e;
  --color-primary-350: #00b478;
  --color-primary-300: #00c482;
  --color-primary-250: #00cc88;
  --color-primary-200: #21e299;
  --color-primary-150: #39f1a6;
  --color-primary-100: #70fcba;
  --color-primary-50: #cbfce1;
  --color-primary: var(--color-primary-550);

  --text-selection-color: light-dark(oklch(from var(--color-primary-400) l c h / 0.25), oklch(from var(--color-primary-350) l c h / 0.1875));
  --primary: light-dark(var(--color-primary-550), var(--color-primary-350));
  --primary-background: light-dark(var(--color-primary-550), var(--color-primary-550));
  --primary-underline: light-dark(oklch(from var(--color-primary-550) l c h / 0.5), oklch(from var(--color-primary-350) l c h / 0.5));
  --primary-hover: light-dark(var(--color-primary-650), var(--color-primary-250));
  --primary-hover-background: light-dark(var(--color-primary-600), var(--color-primary-500));
  --primary-focus: light-dark(oklch(from var(--color-primary-400) l c h / 0.5), oklch(from var(--color-primary-350) l c h / 0.375));
  --primary-inverse: color-contrast(var(--primary-background));
  --switch-thumb-box-shadow: light-dark(0 0 0 oklch(0% 0 0 / 0), 0 0 0 oklch(0% 0 0 / 0));
}
