:root {
  --color-primary-950: #101203;
  --color-primary-900: #191d03;
  --color-primary-850: #202902;
  --color-primary-800: #273500;
  --color-primary-750: #304100;
  --color-primary-700: #394d00;
  --color-primary-650: #435a00;
  --color-primary-600: #4d6600;
  --color-primary-550: #577400;
  --color-primary-500: #628100;
  --color-primary-450: #6c8f00;
  --color-primary-400: #779c00;
  --color-primary-350: #82ab00;
  --color-primary-300: #8eb901;
  --color-primary-250: #99c801;
  --color-primary-200: #a5d601;
  --color-primary-150: #b2e51a;
  --color-primary-100: #c1f335;
  --color-primary-50: #defc85;
  --color-primary: var(--color-primary-550);

  --text-selection-color: light-dark(oklch(from var(--color-primary-400) l c h / 0.25), oklch(from var(--color-primary-350) l c h / 0.1875));
  --primary: light-dark(var(--color-primary-550), var(--color-primary-350));
  --primary-background: light-dark(var(--color-primary-200), var(--color-primary-200));
  --primary-underline: light-dark(oklch(from var(--color-primary-550) l c h / 0.5), oklch(from var(--color-primary-350) l c h / 0.5));
  --primary-hover: light-dark(var(--color-primary-650), var(--color-primary-250));
  --primary-hover-background: light-dark(var(--color-primary-250), var(--color-primary-150));
  --primary-focus: light-dark(oklch(from var(--color-primary-400) l c h / 0.5), oklch(from var(--color-primary-350) l c h / 0.375));
  --primary-inverse: color-contrast(var(--primary-background));
  --switch-thumb-box-shadow: light-dark(0 0 0.5rem oklch(0% 0 0 / 0.25), 0 0 0.5rem oklch(0% 0 0 / 0.25));
}
