:root {
  /* --color-orange-950: #1b0d06; */
  /* --color-orange-900: #2d1509; */
  /* --color-orange-850: #411a0a; */
  /* --color-orange-800: #561e0a; */
  /* --color-orange-750: #6b220a; */
  /* --color-orange-700: #7f270b; */
  --color-orange-650: #942d0d;
  /* --color-orange-600: #a83410; */
  --color-orange-550: #bd3c13;
  --color-orange-500: #d24317;
  --color-orange-450: #e74b1a;
  --color-orange-400: #f45d2c;
  --color-orange-350: #f56b3d;
  /* --color-orange-300: #f68e68; */
  --color-orange-250: #f8a283;
  /* --color-orange-200: #f8b79f; */
  /* --color-orange-150: #f8cab9; */
  /* --color-orange-100: #f9dcd2; */
  /* --color-orange-50: #faeeea; */
  /* --color-orange: var(--color-orange-550); */

  --color-selection: light-dark(oklch(from var(--color-orange-400) l c h / 0.25), oklch(from var(--color-orange-350) l c h / 0.1875));
  --color-primary-text: light-dark(var(--color-orange-550), var(--color-orange-350));
  --color-primary-fill: light-dark(var(--color-orange-500), var(--color-orange-500));
  --color-primary-underline: light-dark(oklch(from var(--color-orange-550) l c h / 0.5), oklch(from var(--color-orange-350) l c h / 0.5));
  --color-primary-text-hover: light-dark(var(--color-orange-650), var(--color-orange-250));
  --color-primary-fill-hover: light-dark(var(--color-orange-550), var(--color-orange-450));
  --color-primary-focus-ring: light-dark(oklch(from var(--color-orange-400) l c h / 0.5), oklch(from var(--color-orange-350) l c h / 0.375));
  --color-primary-on-fill: color-contrast(var(--color-primary-fill));
  --switch-thumb-box-shadow: light-dark(0 0 0 oklch(0% 0 0 / 0), 0 0 0 oklch(0% 0 0 / 0));
}
