:root {
  --color-primary-950: #1e0820;
  --color-primary-900: #2d0f33;
  --color-primary-850: #3d1545;
  --color-primary-800: #4d1a57;
  --color-primary-750: #5e206b;
  --color-primary-700: #6f277d;
  --color-primary-650: #802e90;
  --color-primary-600: #9236a4;
  --color-primary-550: #aa40bf;
  --color-primary-500: #b645cd;
  --color-primary-450: #c652dc;
  --color-primary-400: #cd68e0;
  --color-primary-350: #d47de4;
  --color-primary-300: #db90e8;
  --color-primary-250: #e2a3eb;
  --color-primary-200: #e7b6ee;
  --color-primary-150: #edc9f1;
  --color-primary-100: #f2dcf4;
  --color-primary-50: #f8eef9;
  --color-primary: var(--color-primary-550);

  --text-selection-color: light-dark(oklch(from var(--color-primary-400) l c h / 0.25), oklch(from var(--color-primary-350) l c h / 0.1875));
  --primary: light-dark(var(--color-primary-550), var(--color-primary-350));
  --primary-background: light-dark(var(--color-primary-600), var(--color-primary-600));
  --primary-underline: light-dark(oklch(from var(--color-primary-550) l c h / 0.5), oklch(from var(--color-primary-350) l c h / 0.5));
  --primary-hover: light-dark(var(--color-primary-650), var(--color-primary-250));
  --primary-hover-background: light-dark(var(--color-primary-650), var(--color-primary-550));
  --primary-focus: light-dark(oklch(from var(--color-primary-400) l c h / 0.5), oklch(from var(--color-primary-350) l c h / 0.375));
  --primary-inverse: color-contrast(var(--primary-background));
  --switch-thumb-box-shadow: light-dark(0 0 0 oklch(0% 0 0 / 0), 0 0 0 oklch(0% 0 0 / 0));
}
