:root {
  /* --color-zinc-950: #0f1114; */
  /* --color-zinc-900: #191c20; */
  /* --color-zinc-850: #23262c; */
  /* --color-zinc-800: #2d3138; */
  /* --color-zinc-750: #373c44; */
  /* --color-zinc-700: #424751; */
  --color-zinc-650: #4d535e;
  --color-zinc-600: #5c6370;
  --color-zinc-550: #646b79;
  --color-zinc-500: #6f7887;
  /* --color-zinc-450: #7b8495; */
  --color-zinc-400: #8891a4;
  --color-zinc-350: #969eaf;
  /* --color-zinc-300: #a4acba; */
  --color-zinc-250: #b3b9c5;
  /* --color-zinc-200: #c2c7d0; */
  /* --color-zinc-150: #d1d5db; */
  /* --color-zinc-100: #e0e3e7; */
  /* --color-zinc-50: #f0f1f3; */
  /* --color-zinc: var(--color-zinc-550); */

  --color-selection: light-dark(oklch(from var(--color-zinc-400) l c h / 0.25), oklch(from var(--color-zinc-350) l c h / 0.1875));
  --color-primary-text: light-dark(var(--color-zinc-550), var(--color-zinc-350));
  --color-primary-fill: light-dark(var(--color-zinc-550), var(--color-zinc-550));
  --color-primary-underline: light-dark(oklch(from var(--color-zinc-550) l c h / 0.5), oklch(from var(--color-zinc-350) l c h / 0.5));
  --color-primary-text-hover: light-dark(var(--color-zinc-650), var(--color-zinc-250));
  --color-primary-fill-hover: light-dark(var(--color-zinc-600), var(--color-zinc-500));
  --color-primary-focus-ring: light-dark(oklch(from var(--color-zinc-400) l c h / 0.5), oklch(from var(--color-zinc-350) l c h / 0.375));
  --color-primary-on-fill: color-contrast(var(--color-primary-fill));
  --switch-thumb-glow: light-dark(0 0 0 oklch(0% 0 0 / 0), 0 0 0 oklch(0% 0 0 / 0));
}
