.bg-transparent {
  --_background-color: transparent;

  background-color: var(--_background-color) !important;
}

.bg-gradient {
  --_background-image: var(--gradient);

  background-image: var(--_background-image) !important;
}

.bg-body {
  --_background-color: var(--background-color);

  background-color: var(--_background-color) !important;
}

.bg-primary {
  --_background-color: var(--primary-background-color);

  background-color: var(--_background-color) !important;
}

.bg-secondary {
  --_background-color: var(--secondary-background-color);

  background-color: var(--_background-color) !important;
}

.bg-success {
  --_background-color: var(--success-background-color);

  background-color: var(--_background-color) !important;
}

.bg-info {
  --_background-color: var(--info-background-color);

  background-color: var(--_background-color) !important;
}

.bg-warning {
  --_background-color: var(--warning-background-color);

  background-color: var(--_background-color) !important;
}

.bg-danger {
  --_background-color: var(--danger-background-color);

  background-color: var(--_background-color) !important;
}

.bg-contrast {
  --_background-color: var(--contrast-background-color);

  background-color: var(--_background-color) !important;
}
