.bg-transparent {
  --background-color: transparent;
}

.bg-gradient {
  background-image: var(--gradient) !important;
}

.bg-body {
  background-color: oklch(
    from var(--background-color) l c h / var(--background-color-opacity)
  ) !important;
}

.bg-primary {
  --background-color: oklch(
    from var(--primary-background-color) l c h / var(--background-color-opacity)
  );

  background-color: var(--background-color) !important;
}

.bg-secondary {
  --background-color: oklch(
    from var(--secondary-background-color) l c h /
      var(--background-color-opacity)
  );

  background-color: var(--background-color) !important;
}

.bg-success {
  --background-color: oklch(
    from var(--success-background-color) l c h / var(--background-color-opacity)
  );

  background-color: var(--background-color) !important;
}

.bg-info {
  --background-color: oklch(
    from var(--info-background-color) l c h / var(--background-color-opacity)
  );

  background-color: var(--background-color) !important;
}

.bg-warning {
  --background-color: oklch(
    from var(--warning-background-color) l c h / var(--background-color-opacity)
  );

  background-color: var(--background-color) !important;
}

.bg-danger {
  --background-color: oklch(
    from var(--danger-background-color) l c h / var(--background-color-opacity)
  );

  background-color: var(--background-color) !important;
}

.bg-contrast {
  --background-color: oklch(
    from var(--contrast-background-color) l c h /
      var(--background-color-opacity)
  );

  background-color: var(--background-color) !important;
}

.bg-opacity-10 {
  --background-color-opacity: 10%;
}

.bg-opacity-25 {
  --background-color-opacity: 25%;
}

.bg-opacity-50 {
  --background-color-opacity: 50%;
}

.bg-opacity-75 {
  --background-color-opacity: 75%;
}

.bg-opacity-100 {
  --background-color-opacity: 100%;
}
