.border-primary {
  --border-opacity: 1;

  border-color: rgba(var(--color-primary-rgb), var(--border-opacity)) !important;
}

.border-secondary {
  --border-opacity: 1;

  border-color: rgba(var(--color-secondary-rgb), var(--border-opacity)) !important;
}

.border-success {
  --border-opacity: 1;

  border-color: rgba(var(--color-success-rgb), var(--border-opacity)) !important;
}

.border-info {
  --border-opacity: 1;

  border-color: rgba(var(--color-info-rgb), var(--border-opacity)) !important;
}

.border-warning {
  --border-opacity: 1;

  border-color: rgba(var(--color-warning-rgb), var(--border-opacity)) !important;
}

.border-danger {
  --border-opacity: 1;

  border-color: rgba(var(--color-danger-rgb), var(--border-opacity)) !important;
}

.border-contrast {
  --border-opacity: 1;

  border-color: rgba(var(--color-contrast-rgb), var(--border-opacity)) !important;
}

.border-primary-subtle {
  border-color: var(--color-primary-border-subtle) !important;
}

.border-secondary-subtle {
  border-color: var(--color-secondary-border-subtle) !important;
}

.border-success-subtle {
  border-color: var(--color-success-border-subtle) !important;
}

.border-info-subtle {
  border-color: var(--color-info-border-subtle) !important;
}

.border-warning-subtle {
  border-color: var(--color-warning-border-subtle) !important;
}

.border-danger-subtle {
  border-color: var(--color-danger-border-subtle) !important;
}

.border-contrast-subtle {
  border-color: var(--color-contrast-border-subtle) !important;
}
