.border-primary {
  --_border-color: var(--primary-background-color);
}

.border-secondary {
  --_border-color: var(--secondary-background-color);
}

.border-success {
  --_border-color: var(--success-background-color);
}

.border-info {
  --_border-color: var(--info-background-color);
}

.border-warning {
  --_border-color: var(--warning-background-color);
}

.border-danger {
  --_border-color: var(--danger-background-color);
}

.border-contrast {
  --_border-color: var(--contrast-background-color);
}
