.border-primary {
  --border-color: var(--primary-background-color);
}

.border-secondary {
  --border-color: var(--secondary-background-color);
}

.border-success {
  --border-color: var(--success-background-color);
}

.border-info {
  --border-color: var(--info-background-color);
}

.border-warning {
  --border-color: var(--warning-background-color);
}

.border-danger {
  --border-color: var(--danger-background-color);
}

.border-contrast {
  --border-color: var(--contrast-background-color);
}

.border-opacity-10 {
  --border-color-opacity: 10%;
}

.border-opacity-25 {
  --border-color-opacity: 25%;
}

.border-opacity-50 {
  --border-color-opacity: 50%;
}

.border-opacity-75 {
  --border-color-opacity: 75%;
}

.border-opacity-100 {
  --border-color-opacity: 100%;
}
