.link-primary {
  --color-text: oklch(from var(--color-primary-text) l c h / var(--link-opacity));
  --underline: oklch(from var(--color-primary-underline) l c h / var(--link-underline-opacity));

  color: var(--color-text) !important;
  text-decoration-color: var(--underline) !important;

  &:hover, &:focus {
    --color-text: oklch(from var(--color-primary-text-hover) l c h / var(--link-opacity));
    --underline: oklch(from var(--color-primary-underline-hover) l c h / var(--link-underline-opacity));
  }
}

.link-secondary {
  --color-text: oklch(from var(--color-secondary-text) l c h / var(--link-opacity));
  --underline: oklch(from var(--color-secondary-underline) l c h / var(--link-underline-opacity));

  color: var(--color-text) !important;
  text-decoration-color: var(--underline) !important;

  &:hover, &:focus {
    --color-text: oklch(from var(--color-secondary-text-hover) l c h / var(--link-opacity));
    --underline: oklch(from var(--color-secondary-underline-hover) l c h / var(--link-underline-opacity));
  }
}

.link-contrast {
  --color-text: oklch(from var(--color-contrast-text) l c h / var(--link-opacity));
  --underline: oklch(from var(--color-contrast-underline) l c h / var(--link-underline-opacity));

  color: var(--color-text) !important;
  text-decoration-color: var(--underline) !important;

  &:hover, &:focus {
    --color-text: oklch(from var(--color-contrast-text-hover) l c h / var(--link-opacity));
    --underline: oklch(from var(--color-contrast-underline-hover) l c h / var(--link-underline-opacity));
  }
}

.link-success {
  --color-text: oklch(from var(--color-success-text) l c h / var(--link-opacity));
  --underline: oklch(from var(--color-success-underline) l c h / var(--link-underline-opacity));

  color: var(--color-text) !important;
  text-decoration-color: var(--underline) !important;

  &:hover, &:focus {
    --color-text: oklch(from var(--color-success-text-hover) l c h / var(--link-opacity));
    --underline: oklch(from var(--color-success-underline-hover) l c h / var(--link-underline-opacity));
  }
}

.link-info {
  --color-text: oklch(from var(--color-info-text) l c h / var(--link-opacity));
  --underline: oklch(from var(--color-info-underline) l c h / var(--link-underline-opacity));

  color: var(--color-text) !important;
  text-decoration-color: var(--underline) !important;

  &:hover, &:focus {
    --color-text: oklch(from var(--color-info-text-hover) l c h / var(--link-opacity));
    --underline: oklch(from var(--color-info-underline-hover) l c h / var(--link-underline-opacity));
  }
}

.link-warning {
  --color-text: oklch(from var(--color-warning-text) l c h / var(--link-opacity));
  --underline: oklch(from var(--color-warning-underline) l c h / var(--link-underline-opacity));

  color: var(--color-text) !important;
  text-decoration-color: var(--underline) !important;

  &:hover, &:focus {
    --color-text: oklch(from var(--color-warning-text-hover) l c h / var(--link-opacity));
    --underline: oklch(from var(--color-warning-underline-hover) l c h / var(--link-underline-opacity));
  }
}

.link-danger {
  --color-text: oklch(from var(--color-danger-text) l c h / var(--link-opacity));
  --underline: oklch(from var(--color-danger-underline) l c h / var(--link-underline-opacity));

  color: var(--color-text) !important;
  text-decoration-color: var(--underline) !important;

  &:hover, &:focus {
    --color-text: oklch(from var(--color-danger-text-hover) l c h / var(--link-opacity));
    --underline: oklch(from var(--color-danger-underline-hover) l c h / var(--link-underline-opacity));
  }
}

.link-opacity-10,
.link-opacity-10-hover:hover {
  --link-opacity: 10%;
}

.link-opacity-25,
.link-opacity-25-hover:hover {
  --link-opacity: 25%;
}

.link-opacity-50,
.link-opacity-50-hover:hover {
  --link-opacity: 50%;
}

.link-opacity-75,
.link-opacity-75-hover:hover {
  --link-opacity: 75%;
}

.link-opacity-100,
.link-opacity-100-hover:hover {
  --link-opacity: 100%;
}

.link-offset-1 {
  text-underline-offset: 0.125em !important;
}

.link-offset-1-hover:hover {
  text-underline-offset: 0.125em !important;
}

.link-offset-2 {
  text-underline-offset: 0.25em !important;
}

.link-offset-2-hover:hover {
  text-underline-offset: 0.25em !important;
}

.link-offset-3 {
  text-underline-offset: 0.375em !important;
}

.link-offset-3-hover:hover {
  text-underline-offset: 0.375em !important;
}

.link-underline-primary,
.link-underline {
  --underline: oklch(from var(--color-primary-underline) l c h / var(--link-underline-opacity));

  text-decoration-color: var(--underline) !important;
}

.link-underline-secondary {
  --underline: oklch(from var(--color-secondary-underline) l c h / var(--link-underline-opacity));

  text-decoration-color: var(--underline) !important;
}

.link-underline-contrast {
  --underline: oklch(from var(--color-contrast-underline) l c h / var(--link-underline-opacity));

  text-decoration-color: var(--underline) !important;
}

.link-underline-success {
  --underline: oklch(from var(--color-success-underline) l c h / var(--link-underline-opacity));

  text-decoration-color: var(--underline) !important;
}

.link-underline-info {
  --underline: oklch(from var(--color-info-underline) l c h / var(--link-underline-opacity));

  text-decoration-color: var(--underline) !important;
}

.link-underline-warning {
  --underline: oklch(from var(--color-warning-underline) l c h / var(--link-underline-opacity));

  text-decoration-color: var(--underline) !important;
}

.link-underline-danger {
  --underline: oklch(from var(--color-danger-underline) l c h / var(--link-underline-opacity));

  text-decoration-color: var(--underline) !important;
}

.link-underline-opacity-0 {
  --link-underline-opacity: 0%;
}

.link-underline-opacity-0-hover:hover {
  --link-underline-opacity: 0%;
}

.link-underline-opacity-10 {
  --link-underline-opacity: 10%;
}

.link-underline-opacity-10-hover:hover {
  --link-underline-opacity: 10%;
}

.link-underline-opacity-25 {
  --link-underline-opacity: 25%;
}

.link-underline-opacity-25-hover:hover {
  --link-underline-opacity: 25%;
}

.link-underline-opacity-50 {
  --link-underline-opacity: 50%;
}

.link-underline-opacity-50-hover:hover {
  --link-underline-opacity: 50%;
}

.link-underline-opacity-75 {
  --link-underline-opacity: 75%;
}

.link-underline-opacity-75-hover:hover {
  --link-underline-opacity: 75%;
}

.link-underline-opacity-100 {
  --link-underline-opacity: 100%;
}

.link-underline-opacity-100-hover:hover {
  --link-underline-opacity: 100%;
}
