.text-bg-primary {
  --_background-color: var(--primary-background-color);
  --typography-color: white;
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
  background-color: var(--_background-color) !important;
}

.text-bg-secondary {
  --_background-color: var(--secondary-background-color);
  --typography-color: white;
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
  background-color: var(--_background-color) !important;
}

.text-bg-contrast {
  --_background-color: var(--contrast-background-color);
  --typography-color: white;
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
  background-color: var(--_background-color) !important;
}

.text-bg-success {
  --_background-color: var(--success-background-color);
  --typography-color: white;
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
  background-color: var(--_background-color) !important;
}

.text-bg-info {
  --_background-color: var(--info-background-color);
  --typography-color: white;
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
  background-color: var(--_background-color) !important;
}

.text-bg-warning {
  --_background-color: var(--warning-background-color);
  --typography-color: white;
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
  background-color: var(--_background-color) !important;
}

.text-bg-danger {
  --_background-color: var(--danger-background-color);
  --typography-color: white;
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
  background-color: var(--_background-color) !important;
}
