.text-reset {
  --color-opacity: 100%;

  color: inherit !important;
}

.text-body {
  color: oklch(
    from var(--typography-color) l c h / var(--color-opacity)
  ) !important;
}

.text-muted {
  --typography-color: var(--color-muted);

  color: var(--typography-color) !important;
}

.text-primary {
  --typography-color: oklch(
    from var(--primary-color) l c h / var(--color-opacity)
  );
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
}

.text-secondary {
  --typography-color: oklch(
    from var(--secondary-color) l c h / var(--color-opacity)
  );
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
}

.text-contrast {
  --typography-color: oklch(
    from var(--contrast-color) l c h / var(--color-opacity)
  );
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
}

.text-success {
  --typography-color: oklch(
    from var(--success-color) l c h / var(--color-opacity)
  );
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
}

.text-info {
  --typography-color: oklch(
    from var(--info-color) l c h / var(--color-opacity)
  );
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
}

.text-warning {
  --typography-color: oklch(
    from var(--warning-color) l c h / var(--color-opacity)
  );
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
}

.text-danger {
  --typography-color: oklch(
    from var(--danger-color) l c h / var(--color-opacity)
  );
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
}

.text-opacity-10 {
  --color-opacity: 10%;
}

.text-opacity-25 {
  --color-opacity: 25%;
}

.text-opacity-50 {
  --color-opacity: 50%;
}

.text-opacity-75 {
  --color-opacity: 75%;
}

.text-opacity-100 {
  --color-opacity: 100%;
}
