.text-reset {
  color: inherit !important;
}

.text-body {
  color: var(--typography-color);
}

.text-muted {
  --typography-color: var(--color-muted);

  color: var(--typography-color) !important;
}

.text-primary {
  --typography-color: var(--primary-color);
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
}

.text-secondary {
  --typography-color: var(--secondary-color);
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
}

.text-contrast {
  --typography-color: var(--contrast-color);
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
}

.text-success {
  --typography-color: var(--success-color);
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
}

.text-info {
  --typography-color: var(--info-color);
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
}

.text-warning {
  --typography-color: var(--warning-color);
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
}

.text-danger {
  --typography-color: var(--danger-color);
  --color-muted: color-mix(in srgb, var(--typography-color), transparent 40%);

  color: var(--typography-color) !important;
}
