:root,
:host {
  /* --_color-amber-950: #161003; */
  /* --_color-amber-900: #231a03; */
  /* --_color-amber-850: #312302; */
  /* --_color-amber-800: #3f2d00; */
  /* --_color-amber-750: #4d3700; */
  /* --_color-amber-700: #5b4200; */
  /* --_color-amber-650: #694d00; */
  /* --_color-amber-600: #785800; */
  --_color-amber-550: #876400;
  /* --_color-amber-500: #977000; */
  /* --_color-amber-450: #a77c00; */
  /* --_color-amber-400: #b78800; */
  --_color-amber-350: #c79400;
  /* --_color-amber-300: #d8a100; */
  /* --_color-amber-250: #e8ae01; */
  --_color-amber-200: #ffbf00;
  /* --_color-amber-150: #fecc63; */
  /* --_color-amber-100: #fddea6; */
  /* --_color-amber-50: #fcefd9; */
  /* --color-amber: var(--_color-amber-550); */

  /* System tokens */
  --primary-color: light-dark(var(--_color-amber-550), var(--_color-amber-350));
  --primary-background-color: var(--_color-amber-200);
}
