:root,
:host {
  /* --color-amber-950: #161003; */
  /* --color-amber-900: #231a03; */
  /* --color-amber-850: #312302; */
  /* --color-amber-800: #3f2d00; */
  /* --color-amber-750: #4d3700; */
  /* --color-amber-700: #5b4200; */
  /* --color-amber-650: #694d00; */
  /* --color-amber-600: #785800; */
  --color-amber-550: #876400;
  /* --color-amber-500: #977000; */
  /* --color-amber-450: #a77c00; */
  /* --color-amber-400: #b78800; */
  --color-amber-350: #c79400;
  /* --color-amber-300: #d8a100; */
  /* --color-amber-250: #e8ae01; */
  --color-amber-200: #ffbf00;
  /* --color-amber-150: #fecc63; */
  /* --color-amber-100: #fddea6; */
  /* --color-amber-50: #fcefd9; */
  /* --color-amber: var(--color-amber-550); */

  /* System tokens */
  --primary-color: light-dark(var(--color-amber-550), var(--color-amber-350));
  --primary-background-color: var(--color-amber-200);

  /* Component tokens */
  --input-switch-thumb-box-shadow: light-dark(
    0 0 0.5rem oklch(0% 0 0deg / 0.25),
    0 0 0.5rem oklch(0% 0 0deg / 0.25)
  );
}
