:root,
:host {
  /* --_color-azure-950: #04121d; */
  /* --_color-azure-900: #061e2f; */
  /* --_color-azure-850: #052940; */
  /* --_color-azure-800: #033452; */
  /* --_color-azure-750: #014063; */
  /* --_color-azure-700: #014c75; */
  /* --_color-azure-650: #015887; */
  /* --_color-azure-600: #02659a; */
  --_color-azure-550: #0172ad;
  /* --_color-azure-500: #017fc0; */
  /* --_color-azure-450: #018cd4; */
  /* --_color-azure-400: #029ae8; */
  --_color-azure-350: #01aaff;
  /* --_color-azure-300: #51b4ff; */
  /* --_color-azure-250: #79c0ff; */
  /* --_color-azure-200: #9bccfd; */
  /* --_color-azure-150: #b7d9fc; */
  /* --_color-azure-100: #d1e5fb; */
  /* --_color-azure-50: #e9f2fc; */
  /* --color-azure: var(--_color-azure-550); */

  /* System tokens */
  --primary-color: light-dark(var(--_color-azure-550), var(--_color-azure-350));
  --primary-background-color: var(--_color-azure-550);
}
