:root,
:host {
  /* --_color-blue-950: #080f2d; */
  /* --_color-blue-900: #0c1a41; */
  /* --_color-blue-850: #0e2358; */
  /* --_color-blue-800: #0f2d70; */
  /* --_color-blue-750: #0f3888; */
  /* --_color-blue-700: #1343a0; */
  /* --_color-blue-650: #184eb8; */
  /* --_color-blue-600: #1d59d0; */
  --_color-blue-550: #2060df;
  /* --_color-blue-500: #3c71f7; */
  /* --_color-blue-450: #5c7ef8; */
  /* --_color-blue-400: #748bf8; */
  --_color-blue-350: #8999f9;
  /* --_color-blue-300: #9ca7fa; */
  /* --_color-blue-250: #aeb5fb; */
  /* --_color-blue-200: #bfc3fa; */
  /* --_color-blue-150: #d0d2fa; */
  /* --_color-blue-100: #e0e1fa; */
  /* --_color-blue-50: #f0f0fb; */
  /* --color-blue: var(--_color-blue-550); */

  /* System tokens */
  --primary-color: light-dark(var(--_color-blue-550), var(--_color-blue-350));
  --primary-background-color: var(--_color-blue-550);
}
