:root,
:host {
  /* --_color-cyan-950: #041413; */
  /* --_color-cyan-900: #051f1f; */
  /* --_color-cyan-850: #052b2b; */
  /* --_color-cyan-800: #043737; */
  /* --_color-cyan-750: #014343; */
  /* --_color-cyan-700: #015050; */
  /* --_color-cyan-650: #025d5d; */
  /* --_color-cyan-600: #046a6a; */
  --_color-cyan-550: #047878;
  /* --_color-cyan-500: #058686; */
  /* --_color-cyan-450: #059494; */
  /* --_color-cyan-400: #05a2a2; */
  --_color-cyan-350: #0ab1b1;
  /* --_color-cyan-300: #0ac2c2; */
  /* --_color-cyan-250: #0ccece; */
  /* --_color-cyan-200: #25dddd; */
  /* --_color-cyan-150: #3deceb; */
  /* --_color-cyan-100: #58faf9; */
  /* --_color-cyan-50: #c3fcfa; */
  /* --color-cyan: var(--_color-cyan-550); */

  /* System tokens */
  --primary-color: light-dark(var(--_color-cyan-550), var(--_color-cyan-350));
  --primary-background-color: var(--_color-cyan-550);
}
