:root,
:host {
  /* --_color-grey-950: #111111; */
  /* --_color-grey-900: #1b1b1b; */
  /* --_color-grey-850: #262626; */
  /* --_color-grey-800: #303030; */
  /* --_color-grey-750: #3b3b3b; */
  /* --_color-grey-700: #474747; */
  /* --_color-grey-650: #525252; */
  /* --_color-grey-600: #5e5e5e; */
  --_color-grey-550: #6a6a6a;
  /* --_color-grey-500: #777777; */
  /* --_color-grey-450: #808080; */
  /* --_color-grey-400: #919191; */
  --_color-grey-350: #9e9e9e;
  --_color-grey-300: #ababab;
  /* --_color-grey-250: #b9b9b9; */
  /* --_color-grey-200: #c6c6c6; */
  /* --_color-grey-150: #d4d4d4; */
  /* --_color-grey-100: #e2e2e2; */
  /* --_color-grey-50: #f1f1f1; */
  /* --color-grey: var(--_color-grey-550); */

  /* System tokens */
  --primary-color: light-dark(var(--_color-grey-550), var(--_color-grey-350));
  --primary-background-color: var(--_color-grey-300);
}
