:root,
:host {
  /* --_color-indigo-950: #110b31; */
  /* --_color-indigo-900: #181546; */
  /* --_color-indigo-850: #1f1e5e; */
  /* --_color-indigo-800: #272678; */
  /* --_color-indigo-750: #2f2f92; */
  /* --_color-indigo-700: #3838ab; */
  /* --_color-indigo-650: #4040bf; */
  --_color-indigo-600: #524ed2;
  --_color-indigo-550: #655cd6;
  /* --_color-indigo-500: #7569da; */
  /* --_color-indigo-450: #8577dd; */
  /* --_color-indigo-400: #9486e1; */
  --_color-indigo-350: #a294e5;
  /* --_color-indigo-300: #b0a3e8; */
  /* --_color-indigo-250: #bdb2ec; */
  /* --_color-indigo-200: #cac1ee; */
  /* --_color-indigo-150: #d8d0f1; */
  /* --_color-indigo-100: #e5e0f4; */
  /* --_color-indigo-50: #f2f0f9; */
  /* --color-indigo: var(--_color-indigo-550); */

  /* System tokens */
  --primary-color: light-dark(var(--_color-indigo-550), var(--_color-indigo-350));
  --primary-background-color: var(--_color-indigo-600);
}
