:root,
:host {
  /* --color-indigo-950: #110b31; */
  /* --color-indigo-900: #181546; */
  /* --color-indigo-850: #1f1e5e; */
  /* --color-indigo-800: #272678; */
  /* --color-indigo-750: #2f2f92; */
  /* --color-indigo-700: #3838ab; */
  /* --color-indigo-650: #4040bf; */
  /* --color-indigo-600: #524ed2; */
  --color-indigo-550: #655cd6;
  /* --color-indigo-500: #7569da; */
  /* --color-indigo-450: #8577dd; */
  --color-indigo-400: #9486e1;
  --color-indigo-350: #a294e5;
  /* --color-indigo-300: #b0a3e8; */
  /* --color-indigo-250: #bdb2ec; */
  /* --color-indigo-200: #cac1ee; */
  /* --color-indigo-150: #d8d0f1; */
  /* --color-indigo-100: #e5e0f4; */
  /* --color-indigo-50: #f2f0f9; */
  /* --color-indigo: var(--color-indigo-550); */

  /* System tokens */
  --color-primary-text: light-dark(var(--color-indigo-550), var(--color-indigo-350));
  --color-primary-fill: var(--color-indigo-550);
  --color-primary-on-fill: white;

  /* Component tokens */
  --switch-thumb-glow: light-dark(0 0 0 oklch(0% 0 0deg / 0), 0 0 0 oklch(0% 0 0deg / 0));
}
