:root,
:host {
  /* --_color-jade-950: #04140c; */
  /* --_color-jade-900: #052014; */
  /* --_color-jade-850: #042c1b; */
  /* --_color-jade-800: #033823; */
  /* --_color-jade-750: #00452b; */
  /* --_color-jade-700: #015234; */
  /* --_color-jade-650: #005f3d; */
  /* --_color-jade-600: #006d46; */
  --_color-jade-550: #007a50;
  /* --_color-jade-500: #00895a; */
  /* --_color-jade-450: #029764; */
  /* --_color-jade-400: #00a66e; */
  --_color-jade-350: #00b478;
  /* --_color-jade-300: #00c482; */
  /* --_color-jade-250: #00cc88; */
  /* --_color-jade-200: #21e299; */
  /* --_color-jade-150: #39f1a6; */
  /* --_color-jade-100: #70fcba; */
  /* --_color-jade-50: #cbfce1; */
  /* --color-jade: var(--_color-jade-550); */

  /* System tokens */
  --primary-color: light-dark(var(--_color-jade-550), var(--_color-jade-350));
  --primary-background-color: var(--_color-jade-550);
}
