:root,
:host {
	/* --color-jade-950: #04140c; */
	/* --color-jade-900: #052014; */
	/* --color-jade-850: #042c1b; */
	/* --color-jade-800: #033823; */
	/* --color-jade-750: #00452b; */
	/* --color-jade-700: #015234; */
	/* --color-jade-650: #005f3d; */
	/* --color-jade-600: #006d46; */
	--color-jade-550: #007a50;
	/* --color-jade-500: #00895a; */
	/* --color-jade-450: #029764; */
	/* --color-jade-400: #00a66e; */
	--color-jade-350: #00b478;
	/* --color-jade-300: #00c482; */
	/* --color-jade-250: #00cc88; */
	/* --color-jade-200: #21e299; */
	/* --color-jade-150: #39f1a6; */
	/* --color-jade-100: #70fcba; */
	/* --color-jade-50: #cbfce1; */
	/* --color-jade: var(--color-jade-550); */

	/* System tokens */
	--color-primary-text: light-dark(
		var(--color-jade-550),
		var(--color-jade-350)
	);
	--color-primary-fill: var(--color-jade-550);
	--color-primary-on-fill: white;

	/* Component tokens */
	--switch-thumb-glow: light-dark(
		0 0 0 oklch(0% 0 0deg / 0),
		0 0 0 oklch(0% 0 0deg / 0)
	);
}
