:root,
:host {
  /* --_color-lime-950: #101203; */
  /* --_color-lime-900: #191d03; */
  /* --_color-lime-850: #202902; */
  /* --_color-lime-800: #273500; */
  /* --_color-lime-750: #304100; */
  /* --_color-lime-700: #394d00; */
  /* --_color-lime-650: #435a00; */
  /* --_color-lime-600: #4d6600; */
  --_color-lime-550: #577400;
  /* --_color-lime-500: #628100; */
  /* --_color-lime-450: #6c8f00; */
  /* --_color-lime-400: #779c00; */
  --_color-lime-350: #82ab00;
  /* --_color-lime-300: #8eb901; */
  /* --_color-lime-250: #99c801; */
  --_color-lime-200: #a5d601;
  /* --_color-lime-150: #b2e51a; */
  /* --_color-lime-100: #c1f335; */
  /* --_color-lime-50: #defc85; */
  /* --color-lime: var(--_color-lime-550); */

  /* System tokens */
  --primary-color: light-dark(var(--_color-lime-550), var(--_color-lime-350));
  --primary-background-color: var(--_color-lime-200);
}
