:root,
:host {
  /* --_color-pumpkin-950: #180f04; */
  /* --_color-pumpkin-900: #271805; */
  /* --_color-pumpkin-850: #372004; */
  /* --_color-pumpkin-800: #482802; */
  /* --_color-pumpkin-750: #593100; */
  /* --_color-pumpkin-700: #693a00; */
  /* --_color-pumpkin-650: #7a4400; */
  /* --_color-pumpkin-600: #8b4f00; */
  --_color-pumpkin-550: #9c5900;
  /* --_color-pumpkin-500: #ad6400; */
  /* --_color-pumpkin-450: #bf6e00; */
  /* --_color-pumpkin-400: #d27a01; */
  --_color-pumpkin-350: #e48500;
  --_color-pumpkin-300: #ff9500;
  /* --_color-pumpkin-250: #ffa23a; */
  /* --_color-pumpkin-200: #feb670; */
  /* --_color-pumpkin-150: #fcca9b; */
  /* --_color-pumpkin-100: #fcdcc1; */
  /* --_color-pumpkin-50: #fceee3; */
  /* --color-pumpkin: var(--_color-pumpkin-550); */

  /* System tokens */
  --primary-color: light-dark(
    var(--_color-pumpkin-550),
    var(--_color-pumpkin-350)
  );
  --primary-background-color: var(--_color-pumpkin-300);
}
