:root,
:host {
  /* --_color-red-950: #1c0d06; */
  /* --_color-red-900: #30130a; */
  /* --_color-red-850: #45150c; */
  /* --_color-red-800: #5c160d; */
  /* --_color-red-750: #72170f; */
  /* --_color-red-700: #861d13; */
  /* --_color-red-650: #9b2318; */
  /* --_color-red-600: #af291d; */
  --_color-red-550: #c52f21;
  /* --_color-red-500: #d93526; */
  /* --_color-red-450: #ee402e; */
  /* --_color-red-400: #f06048; */
  --_color-red-350: #f17961;
  /* --_color-red-300: #f38f79; */
  /* --_color-red-250: #f5a390; */
  /* --_color-red-200: #f5b7a8; */
  /* --_color-red-150: #f6cabf; */
  /* --_color-red-100: #f8dcd6; */
  /* --_color-red-50: #faeeeb; */
  /* --color-red: var(--_color-red-550); */

  /* System tokens */
  --primary-color: light-dark(var(--_color-red-550), var(--_color-red-350));
  --primary-background-color: var(--_color-red-550);
}
