:root {
  /* --color-red-950: #1c0d06; */
  /* --color-red-900: #30130a; */
  /* --color-red-850: #45150c; */
  /* --color-red-800: #5c160d; */
  /* --color-red-750: #72170f; */
  /* --color-red-700: #861d13; */
  --color-red-650: #9b2318;
  --color-red-600: #af291d;
  --color-red-550: #c52f21;
  --color-red-500: #d93526;
  /* --color-red-450: #ee402e; */
  --color-red-400: #f06048;
  --color-red-350: #f17961;
  /* --color-red-300: #f38f79; */
  --color-red-250: #f5a390;
  /* --color-red-200: #f5b7a8; */
  /* --color-red-150: #f6cabf; */
  /* --color-red-100: #f8dcd6; */
  /* --color-red-50: #faeeeb; */
  /* --color-red: var(--color-red-550); */

  /* System tokens */
  --color-selection: light-dark(oklch(from var(--color-red-400) l c h / 0.25), oklch(from var(--color-red-350) l c h / 0.1875));

  --color-primary-fill: var(--color-red-550);
  --color-primary-fill-hover: light-dark(var(--color-red-600), var(--color-red-500));
  --color-primary-on-fill: white;
  --color-primary-on-fill-muted: color-mix(in srgb, var(--color-red-650) 50%, white);
  --color-primary-text: light-dark(var(--color-red-550), var(--color-red-350));
  --color-primary-text-hover: light-dark(var(--color-red-650), var(--color-red-250));
  --color-primary-underline: light-dark(oklch(from var(--color-red-550) l c h / 0.5), oklch(from var(--color-red-350) l c h / 0.5));
  --color-primary-focus-ring: light-dark(oklch(from var(--color-red-400) l c h / 0.5), oklch(from var(--color-red-350) l c h / 0.375));

  /* Component tokens */
  --switch-thumb-glow: light-dark(0 0 0 oklch(0% 0 0 / 0), 0 0 0 oklch(0% 0 0 / 0));
}
