:root,
:host {
  /* --_color-slate-950: #0e1118; */
  /* --_color-slate-900: #181c25; */
  /* --_color-slate-850: #202632; */
  /* --_color-slate-800: #2a3140; */
  /* --_color-slate-750: #333c4e; */
  /* --_color-slate-700: #3d475c; */
  /* --_color-slate-650: #48536b; */
  --_color-slate-600: #525f7a;
  --_color-slate-550: #5d6b89;
  /* --_color-slate-500: #687899; */
  /* --_color-slate-450: #7385a9; */
  /* --_color-slate-400: #8191b5; */
  --_color-slate-350: #909ebe;
  /* --_color-slate-300: #a0acc7; */
  /* --_color-slate-250: #b0b9d0; */
  /* --_color-slate-200: #bfc7d9; */
  /* --_color-slate-150: #cfd5e2; */
  /* --_color-slate-100: #dfe3eb; */
  /* --_color-slate-50: #eff1f4; */
  /* --color-slate: var(--_color-slate-550); */

  /* System tokens */
  --primary-color: light-dark(var(--_color-slate-550), var(--_color-slate-350));
  --primary-background-color: var(--_color-slate-600);
}
