:root,
:host {
  /* --_color-violet-950: #190928; */
  /* --_color-violet-900: #251140; */
  /* --_color-violet-850: #321856; */
  /* --_color-violet-800: #3f1e6d; */
  /* --_color-violet-750: #4d2585; */
  /* --_color-violet-700: #5b2d9c; */
  /* --_color-violet-650: #6935b3; */
  --_color-violet-600: #7540bf;
  --_color-violet-550: #8352c5;
  /* --_color-violet-500: #9062ca; */
  /* --_color-violet-450: #9b71cf; */
  /* --_color-violet-400: #a780d4; */
  --_color-violet-350: #b290d9;
  /* --_color-violet-300: #bd9fdf; */
  /* --_color-violet-250: #c9afe4; */
  /* --_color-violet-200: #d3bfe8; */
  /* --_color-violet-150: #decfed; */
  /* --_color-violet-100: #e8dff2; */
  /* --_color-violet-50: #f3eff7; */
  /* --color-violet: var(--_color-violet-550); */

  /* System tokens */
  --primary-color: light-dark(var(--_color-violet-550), var(--_color-violet-350));
  --primary-background-color: var(--_color-violet-600);
}
