:root,
:host {
  /* --color-yellow-950: #141103; */
  /* --color-yellow-900: #1f1c02; */
  /* --color-yellow-850: #2b2600; */
  /* --color-yellow-800: #363100; */
  /* --color-yellow-750: #423c00; */
  /* --color-yellow-700: #4e4700; */
  /* --color-yellow-650: #5b5300; */
  /* --color-yellow-600: #685f00; */
  --color-yellow-550: #756b00;
  /* --color-yellow-500: #827800; */
  /* --color-yellow-450: #908501; */
  /* --color-yellow-400: #9e9200; */
  --color-yellow-350: #ad9f00;
  /* --color-yellow-300: #bbac00; */
  /* --color-yellow-250: #caba01; */
  /* --color-yellow-200: #d9c800; */
  /* --color-yellow-150: #e8d600; */
  --color-yellow-100: #f2df0d;
  /* --color-yellow-50: #fdf1b4; */
  /* --color-yellow: var(--color-yellow-550); */

  /* System tokens */
  --primary-color: light-dark(var(--color-yellow-550), var(--color-yellow-350));
  --primary-background-color: var(--color-yellow-100);
}
