:is(.primary, .secondary, .contrast, .success, .info, .warning, .danger) {
  /* Buttons */
  &:is(
    button:not([role="link"]),
    [type="submit"],
    [type="reset"],
    [type="button"],
    [type="file"]::file-selector-button,
    [role="button"]
  ) {
    --button-color: #fff;
    --button-background-color: var(--intent-background-color);
    --button-border-color: var(--intent-border-color);

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --button-background-color: var(--intent-background-color-hover);
      --button-border-color: var(--intent-border-color-hover);
    }

    &:focus,
    &:is([aria-current]:not([aria-current="false"])):focus {
      --button-box-shadow:
        var(--button-box-shadow-hover, 0 0 0 rgba(0, 0, 0, 0)),
        0 0 0 var(--outline-width) var(--intent-focus-ring-color);
    }
  }

  /* --- Alert Individual Styling --- */
  --_alert-color: #fff;
  --_alert-background-color: var(--intent-background-color);
  --_alert-border-color: var(--intent-border-color);

  /* --- Card Individual Styling --- */
  --_card-color: #fff;
  --_card-background-color: var(--intent-background-color);
  --_card-border-color: var(--intent-border-color);
  --_card-marginals-background-color: color-mix(
    in srgb,
    light-dark(var(--color-slate-900), var(--color-slate-50)),
    transparent 90%
  );

  /* --- Link Individual Styling --- */
  --_link-color: var(--intent-color);

  /* --- Pane Individual Styling --- */
  --_pane-color: #fff;
  --_pane-background-color: var(--intent-background-color);

  /* --- Progress Bar Individual Styling --- */
  --_progress-background-color: var(--intent-background-color);
}
