:where(a:not([role="button"])),
[role="link"] {
  &.contrast {
    --color-text: var(--color-contrast-text);
    --color-text-muted: var(--color-contrast-on-fill-muted);
    --underline: var(--color-contrast-underline);

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --color-text: var(--color-contrast-text-hover);
      --underline: var(--color-contrast-underline-hover);
    }
  }
}

:is(button, [type="submit"], [type="button"], [role="button"]):not([role="link"]) {
  &.contrast {
    --color-background: var(--color-contrast-fill);
    --border-color: var(--color-contrast-border);
    --color-text: var(--color-contrast-on-fill);

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --color-background: var(--color-contrast-fill-hover);
      --border-color: var(--color-contrast-border-hover);
      --color-text: var(--color-contrast-on-fill);
    }

    &:focus,
    &:is([aria-current]:not([aria-current="false"])):focus {
      --shadow: var(--button-shadow-hover, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--outline-size) var(--color-contrast-focus-ring);
    }
  }
}

:is(.card, .pane, .panel).contrast {
  --color-text: var(--color-contrast-on-fill);
  --color-text-muted: var(--color-contrast-on-fill-muted);

  --dialog-fill: light-dark(var(--color-slate-900), white);
  --dialog-border: light-dark(var(--color-slate-900), color-mix(in srgb, var(--color-slate-100), var(--color-slate-50)));
  --dialog-section-fill: light-dark(
    var(--color-slate-800),
    color-mix(in srgb, var(--color-slate-50) 25%, white)
  );
}
