/* See _intent.css for shared styles */

.contrast {
  --intent-color: oklch(
    from var(--contrast-color) l c h / var(--color-opacity)
  );
  --intent-background-color: oklch(
    from var(--contrast-background-color) l c h /
      var(--background-color-opacity)
  );
  --intent-border-color: oklch(
    from var(--contrast-background-color) l c h / var(--border-color-opacity)
  );
  --intent-background-color-hover: oklch(
    from var(--contrast-background-color-hover) l c h /
      var(--background-color-opacity)
  );
  --intent-border-color-hover: oklch(
    from var(--contrast-background-color-hover) l c h /
      var(--border-color-opacity)
  );
  --intent-focus-ring-color: var(--contrast-focus-ring-color);

  &:is(
    button:not([role="link"]),
    [type="submit"],
    [type="reset"],
    [type="button"],
    [type="file"]::file-selector-button,
    [role="button"]
  ) {
    --button-color: light-dark(#fff, #191c20);
  }

  &:is(.card) {
    --card-color: light-dark(#fff, #191c20);
    --marginals-background-color: color-mix(
      in srgb,
      light-dark(var(--color-slate-50), var(--color-slate-900)),
      transparent 90%
    );
  }

  &.pane {
    --pane-color: light-dark(#fff, #191c20);
    --pane-border-color: var(
      --intent-border-color,
      var(--border-color)
    ) !important;
  }

  &:is([role="status"], [role="alert"]) {
    --alert-color: light-dark(#fff, #191c20);
  }
}

/* Accordion chevron override */
details summary[role="button"].contrast::after {
  @container style(--theme: dark) {
    filter: brightness(0);
  }
}
