/* See ./_common.css for shared styles */

.contrast {
  --intent-background-color: var(--contrast-background-color);
  --intent-background-color-hover: var(--contrast-background-color-hover);

  --intent-color: var(--contrast-color);
  --intent-color-hover: var(--contrast-color-hover);

  --intent-outline-color: var(--contrast-outline-color);

  /* Readability adjustments */
  --_buttons-color: light-dark(#fff, #191c20);
  --_buttons-color-hover: light-dark(#fff, #191c20);

  --_alert-color: light-dark(#fff, #191c20);

  --_card-color: light-dark(#fff, #191c20);
  --_card-marginals-background-color: color-mix(
    in srgb,
    light-dark(var(--color-slate-50), var(--color-slate-900)),
    transparent 90%
  );

  --_pane-color: light-dark(#fff, #191c20);
}

/* Accordion chevron override */
details summary[role="button"].contrast {
  @container style(--theme: dark) {
    &::after {
      filter: brightness(0);
    }

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      &::after {
        filter: brightness(0) invert(0);
      }
    }
  }
}
