.danger {
  --color: oklch(from #fff l c h / var(--color-opacity));
  --color-muted: color-mix(in srgb, var(--color), transparent 40%);
  --background-color: oklch(
    from var(--danger-background-color) l c h / var(--background-color-opacity)
  );
  --border-color: oklch(
    from var(--danger-background-color) l c h / var(--border-color-opacity)
  );

  --link-color: var(--danger-color);

  --button-background-color: var(--background-color);
  --button-border-color: var(--border-color);

  --pane-background-color: var(--background-color);
  --pane-border-color: var(--background-color);
  --pane-marginals-background-color: color-mix(
    in srgb,
    light-dark(var(--color-slate-900), var(--color-slate-50)),
    transparent 90%
  );

  &:is(button, [type="submit"], [type="button"], [role="button"]):not(
      [role="link"]
    ) {
    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --button-background-color: oklch(
        from var(--danger-background-color-hover) l c h /
          var(--background-color-opacity)
      );
      --button-border-color: oklch(
        from var(--danger-background-color-hover) l c h /
          var(--border-color-opacity)
      );
      --button-color: oklch(from #fff l c h / var(--color-opacity));
    }

    &:focus,
    &:is([aria-current]:not([aria-current="false"])):focus {
      --button-box-shadow:
        var(--button-box-shadow-hover, 0 0 0 rgba(0, 0, 0, 0)),
        0 0 0 var(--outline-width) var(--danger-focus-ring-color);
    }
  }
}
