/* See ./_common.css for shared styles */

.danger {
  --intent-background-color: var(--danger-background-color);
  --intent-background-color-hover: var(--danger-background-color-hover);

  --intent-color: var(--danger-color);
  --intent-color-hover: var(--danger-color-hover);

  --intent-outline-color: var(--danger-outline-color);
}
