/* See _intent.css for shared styles */

.info {
  --intent-color: oklch(from var(--info-color) l c h / var(--color-opacity));
  --intent-background-color: oklch(
    from var(--info-background-color) l c h / var(--background-color-opacity)
  );
  --intent-border-color: oklch(
    from var(--info-background-color) l c h / var(--border-color-opacity)
  );
  --intent-background-color-hover: oklch(
    from var(--info-background-color-hover) l c h /
      var(--background-color-opacity)
  );
  --intent-border-color-hover: oklch(
    from var(--info-background-color-hover) l c h / var(--border-color-opacity)
  );
  --intent-focus-ring-color: var(--info-focus-ring-color);
}
