/* See ./_common.css for shared styles */

.info {
  --intent-background-color: var(--info-background-color);
  --intent-background-color-hover: var(--info-background-color-hover);

  --intent-color: var(--info-color);
  --intent-color-hover: var(--info-color-hover);

  --intent-outline-color: var(--info-outline-color);
}
