/* See ./_common.css for shared styles */

.primary {
  --intent-background-color: var(--primary-background-color);
  --intent-background-color-hover: var(--primary-background-color-hover);

  --intent-color: var(--primary-color);
  --intent-color-hover: var(--primary-color-hover);

  --intent-outline-color: var(--primary-outline-color);
}
