.secondary {
  &:not(a:not([role="button"]), [role="link"]) {
    --background-color: oklch(
      from var(--secondary-background-color) l c h /
        var(--background-color-opacity)
    );
    --border-color: oklch(
      from var(--secondary-background-color) l c h / var(--border-color-opacity)
    );
    --color: oklch(from #fff l c h / var(--color-opacity));
    --color-muted: color-mix(in srgb, var(--color), transparent 40%);

    --dialog-background-color: oklch(
      from var(--secondary-background-color) l c h /
        var(--background-color-opacity)
    );
    --dialog-border-color: oklch(
      from var(--secondary-background-color) l c h /
        var(--background-color-opacity)
    );
    --dialog-section-background-color: color-mix(
      in srgb,
      light-dark(var(--color-slate-900), var(--color-slate-50)),
      transparent 90%
    );
  }

  &:is(a:not([role="button"]), [role="link"]) {
    --color: oklch(from var(--secondary-color) l c h / var(--color-opacity));
    --color-muted: color-mix(in srgb, var(--color), transparent 40%);

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --color: oklch(
        from var(--secondary-color-hover) l c h / var(--color-opacity)
      );
    }
  }

  &:is(button, [type="submit"], [type="button"], [role="button"]):not(
      [role="link"]
    ) {
    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --background-color: oklch(
        from var(--secondary-background-color-hover) l c h /
          var(--background-color-opacity)
      );
      --border-color: oklch(
        from var(--secondary-background-color-hover) l c h /
          var(--border-color-opacity)
      );
      --color: oklch(from #fff l c h / var(--color-opacity));
    }

    &:focus,
    &:is([aria-current]:not([aria-current="false"])):focus {
      --box-shadow:
        var(--button-box-shadow-hover, 0 0 0 rgba(0, 0, 0, 0)),
        0 0 0 var(--outline-width) var(--secondary-focus-ring-color);
    }
  }
}
