/* See ./_common.css for shared styles */

.secondary {
  --intent-background-color: var(--secondary-background-color);
  --intent-background-color-hover: var(--secondary-background-color-hover);

  --intent-color: var(--secondary-color);
  --intent-color-hover: var(--secondary-color-hover);

  --intent-outline-color: var(--secondary-outline-color);
}
