/* See ./_common.css for shared styles */

.success {
  --intent-background-color: var(--success-background-color);
  --intent-background-color-hover: var(--success-background-color-hover);

  --intent-color: var(--success-color);
  --intent-color-hover: var(--success-color-hover);

  --intent-outline-color: var(--success-outline-color);
}
