:where(a:not([role="button"])),
[role="link"] {
  &.success {
    --color-text: oklch(from var(--color-success-text) l c h / var(--color-text-opacity));
    --color-text-muted: oklch(from var(--color-success-on-fill-muted) l c h / var(--color-text-opacity));

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --color-text: oklch(from var(--color-success-text-hover) l c h / var(--color-text-opacity));
    }
  }
}

:is(button, [type="submit"], [type="button"], [role="button"]):not([role="link"]) {
  &.success {
    --color-background: color-mix(in srgb, oklch(from var(--color-success-fill) l c h / var(--color-background-opacity)), var(--subtle-shade) var(--subtle-opacity, 0%));
    --border-color: color-mix(in srgb, oklch(from var(--color-success-fill) l c h / var(--border-color-opacity)), var(--subtle-shade) var(--subtle-opacity, 0%));
    --color-text: oklch(from var(--color-success-on-fill) l c h / var(--color-text-opacity));

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      --color-background: oklch(from var(--color-success-fill-hover) l c h / var(--color-background-opacity));
      --border-color: oklch(from var(--color-success-fill-hover) l c h / var(--border-color-opacity));
      --color-text: oklch(from var(--color-success-on-fill) l c h / var(--color-text-opacity));
    }

    &:focus,
    &:is([aria-current]:not([aria-current="false"])):focus {
      --shadow: var(--button-shadow-hover, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--outline-size) var(--color-success-focus-ring);
    }
  }
}

:is(.card, .pane, .panel).success {
  --color-text: oklch(from var(--color-success-on-fill) l c h / var(--color-text-opacity));
  --color-text-muted: oklch(from var(--color-success-on-fill-muted) l c h / var(--color-text-opacity));
  --dialog-fill: color-mix(in srgb, oklch(from var(--color-success-fill-hover) l c h / var(--color-background-opacity)), var(--subtle-shade) var(--subtle-opacity, 0%));
  --dialog-border: color-mix(in srgb, oklch(from var(--color-success-fill-hover) l c h / var(--border-color-opacity)), var(--subtle-shade) var(--subtle-opacity, 0%));
  --dialog-section-fill: color-mix(in srgb, var(--color-success-fill) 90%, black);
}
