/* See ./_common.css for shared styles */

.warning {
  --intent-background-color: var(--warning-background-color);
  --intent-background-color-hover: var(--warning-background-color-hover);

  --intent-color: var(--warning-color);
  --intent-color-hover: var(--warning-color-hover);

  --intent-outline-color: var(--warning-outline-color);
}
